<div class="top-nav top-nav-bright">
  <!-- contact links -->
  <div class="contact-links hidden-xs hidden-sm">
    <div>
      <ul>
        <li>
          <a class="link" href><img src="assets/flags/ph.svg" alt="PH" class="flag" /><i class="fa fa-phone"></i> <span> {{topNavVM.contactNumber}} </span>
          </a>
        </li>
        <li>
          <a class="link" href><img src="assets/flags/us.svg" alt="US" class="flag" /><i class="fa fa-phone"></i>  <span> +1 415 310 1207 </span>
          </a>
        </li>
        <li>
          <a class="link" href="{{'mailto:' + topNavVM.emailAddr}}"><i class="fa fa-envelope"></i> <span> {{topNavVM.emailAddr}} </span>
          </a>
        </li>
        <li>
          Hire a developer? <a class="btn-cta" ng-click="topNavVM.onRequestAQuoteClick()"> Request a quote&nbsp;</a>
        </li>
        <li>
          Questions? <a class="btn-cta" ng-click="topNavVM.openModalContactUs()"> Contact us </a>
        </li>
        <li class="pull-right">
          <a class="social-media-links fb" href="https://www.facebook.com/DevPartnersPH/" target="_blank"> <i class="fa fa-facebook link"></i>
          </a>
          <a class="social-media-links linkedIn" href="https://www.linkedin.com/company/devpartnerssoftwaresolutions" target="_blank"> <i class="fa fa-linkedin link"></i>
          </a>
          <a class="social-media-links twitter" href="https://twitter.com/DevPartnersPH" target="_blank"> <i class="fa fa-twitter link"></i>
          </a>
        </li>
    </div>
  </div>
	<nav elem-ready="topNavVM.initSidebar()">
    <!-- Compact Menu Toggle -->
    <a href id="c-button--push-left" class="compact-menu compact-menu-left c-button hidden-lg hidden-md" ng-if="topNavVM.isLoggedIn()"><span class="glyphicon glyphicon-menu-hamburger"></span></a>

    <!-- Logo -->
    <a ui-sref="{{STATES.HOME}}"> <img ng-src="{{topNavVM.logo === 'dark' ? 'assets/images/logo-md.png' : 'assets/images/logo-black.png'}}" alt="Dev Partners" class="logo" /> </a>

    <!-- Menu -->
    <ul id="main-top-menu" ng-if="topNavVM.isLoggedIn()">
      <li class="emphasize hidden-xs hidden-sm" ng-if="topNavVM.modal"> <a href ng-click="topNavVM.openModalContactUs()"> Contact </a> </li>
      <li class="emphasize hidden-xs hidden-sm"> <a ng-click="topNavVM.logout()" ng-disabled="topNavVM.loggingOut"> Log Out </a> </li>
    </ul>
	</nav>
</div>