<aside id="c-menu--push-left" class="c-menu hidden-lg hidden-md c-menu--push-left" ng-if="sidebarNavVM.isLoggedInAsClient()" elem-ready="sidebarNavVM.setSidebarMenuObserver('left')">
  <nav>
    <h4 class="o-header c-menu__close"> <i class="fa fa-chevron-left"></i> Dev Partners </h4>
    <ul class="c-menu__items" elem-ready="sidebarNavVM.initSidebar()">
      <li> <a class="c-menu__link c-menu__close" ui-sref="{{STATES.APP_USER_PROFILE}}"> My Profile </a> </li>
      <li> <a href coming-soon class="c-menu__link c-menu__close"> My Projects </a> </li>
      <li> <a href coming-soon class="c-menu__link c-menu__close"> My Teams </a> </li>
    </ul>
    <footer><a ng-click="sidebarNavVM.logout()" ng-show="sidebarNavVM.isLoggedIn()" ng-disabled="sidebarNavVM.loggingOut" class="c-menu__link c-menu__close"> Log Out </a></footer>
  </nav>
</aside>