#categories {
    .subcategory-list {
        padding-left: 0;
    }
    .subcat-pills {
        @include border-radius(3px);
        padding: 8px;
        border: 1px solid #ddd;
        position: relative;
        margin: 0 5px 5px 0;
        position: relative;
        .btn-remove {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 12px;
            padding: 5px;
        }
        .fa {
            margin: 0;
        }
    }
}