/* contact us */
#contact-us {
    background-color: white;
    padding-bottom: 20px;
    color: $black;
    form {
        padding: 15px;
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            width: 100%;
            margin-bottom: $padding-large-vertical;
            border: none;
            border-bottom: 1px solid $black;
            padding: $padding-large-vertical 0;
            &:focus {
                border: none !important;
                border-bottom: 1px solid $black !important;
                @include disable-box-shadow();
            }
            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: $gray-dark;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $gray-dark;
                opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $gray-dark;
                opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $gray-dark;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $gray-dark;
            }
        }

        textarea {
            resize: none;
            height: 90px;
        }

        div.row > div {
            position: relative;
        }
        .ng-message {
            bottom: -10px;
        }
        .action-btn-section-align-left {
            text-align: left;
            .captcha-container {
                text-align: left;
                display: inline-block;
                width: 48%;
                > div > div  {
                    @include transform-origin(0, center);
                    @include transform(scale(.70));
                }
            }
            .btn {
                margin-left: 15px !important;
                max-width: 200px;
                width: 100%;
                &::before {
                    display: none;
                }
            }
        }
    }

    @media(max-width: $screen-md - 1px) {
        form {
            .action-btn-section-align-left, .note {
                text-align: center;
            }
        }
    }
}