.input-group .dropdown-menu, .input-typeahead .dropdown-menu, .custom-dropdown-menu {
  color: $black;
  @include border-radius($border-radius-small);

  > li {
    margin-left: 0px !important;
    padding: 0;
    display: block;

    a {
      text-shadow: none;
      font-size: 15px;
      padding: .5em;
    }
  }
  > li:first-child {
    @include border-radius-trbl($border-radius-small, $border-radius-small, 0, 0);
  }
  > li:last-child {
    @include border-radius-trbl(0, 0, $border-radius-small, $border-radius-small);
  }
  > li:hover, li.active {
    background-color: $yellow-gold;
    > a {
      background-color: inherit !important;
    }
  }
}
.custom-dropdown-menu-bold {
  @extend .custom-dropdown-menu;
  > li a {
    font-weight: bold;
  }
}
.custom-dropdown-compact {
  width: 100% !important;
}
.dropdown:hover > .dropdown-menu {
  display:block;
}

.input-typeahead {position: relative;}
.input-group .dropdown-menu, .input-typeahead .dropdown-menu {
  width: 100%;
  max-height: 154px;
  overflow-y: auto;
}

.bootstrap-select {
  width: 100%;
  border: 0;
  position: relative;
  color: $gray;

  .dropdown-toggle {
    border-radius: 0;
    border: 1px solid $gray-light;
    display: block;
    box-shadow: none;
    outline: none !important;
    padding: 10px;
  }
  div.dropdown-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .caret {
    position: absolute;
    top: 50%;
    right: 60px;
  }
}