#our-processes, .our-processes {
  padding-top: $home-sections-margin-bottom * .5;
  background-color: white;
  padding-bottom: $home-sections-margin-bottom;

  .row > div {
    margin-top: $padding-large-vertical;
    margin-bottom: $padding-large-vertical;
    text-align: center;

    .title {
      position: absolute;
      top: 53%;
      left: 6%;
      right: 0;
      width: auto;
      display: inline;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }
    .description {
      position: absolute;
      top: 64%;
      left: 5%;
      right: 0;
      padding: 0 20%;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }

    .img-responsive-sm {
      padding: 0 .2em;
    }

    @media (max-width: 1050px) {
      .description {
        position: absolute;
        top: 63%;
        left: 5%;
        right: 0;
        padding: 0 19.5%;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: .9em;
      }
    }
    @media (max-width: 991px) {
      padding: 6%;

      .title {
        top: 52.5%;
        font-size: 1.8em;
      }
      .description {
        top: 62%;
        padding: 0 30%;
        font-size: 1.4em;
      }
      .img-responsive-larger {
        margin-right: -10%;
      }
    }
    @media (max-width: 800px) {
      padding: 4%;
      
      .title {
        top: 53%;
        font-size: 1.2em;
      }
      .description {
        padding: 0 31%;
        font-size: 1em;
        left: 4%;
      }
    }
    @media (max-width: 600px) {
      padding: 1%;

      .title {
        top: 54%;
        font-size: 1em;
      }
      .description {
        padding: 0 26%;
        font-size: 1.3em;
        top: 63%;
      }
    }
    @media (max-width: 480px) {
      .description {
        padding: 0 22%;
        font-size: 1em;
        top: 63%;
      }
    }
    @media (max-width: 320px) {
      padding: 1%;

      .description {
        padding: 0 24%;
        font-size: .8em;
      }
    }      
  }
}