#referral {
    height: 100%;
    position: relative;
    background: url(../images/referral-bg.jpg) no-repeat center center;
    background-size: cover;
    @include reset-list();

    .panel-layout {
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: white;
        @include box-shadow(0px, 14px, 29px, -14px, rgba(71,71,71,1));

        h1, h2 {
            text-transform: none;
            font-weight: 900;
        }

        .intro-panel {
            text-align: center;
            background-color: #F2B03B;

            h1 {
                color: white;
                font-size: 40px;
                text-shadow: 0px 1px 3px rgba(150, 150, 150, 0.6);
                max-width: 501px;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                color: white;
                max-width: 470px;
                font-size: 18px;
            }

            .description, .cover {
                height: 320px;
            }
            .description {
                padding-top: 60px;
                padding-bottom: 60px;
                @include flex();
                flex-direction: column;
                justify-content: center;
            }
            .cover {
                background: url('../images/referral/referral-cover.jpg') no-repeat center center;
                background-size: cover;
            }
        }

        .form-panel {
            padding: 30px 40px;
            background-color: #F7F7F7;

            h2, h3 {
                margin-top: 0;
                font-weight: 300;
                text-align: center;
            }
            h2 {
                margin-bottom: 20px;
                font-size: 35px;
            }
            h3 {
                color: $gray-light;
            }
            form {
                margin-top: 50px;
            }
            label {
                margin-top: 0;
                color: $gray-lighter;
                font-weight: normal;
            }
            .btn-yellow {
                padding: 10px;
                width: 100%;
                border-radius: 0;
                text-transform: none;
                margin-top: 15px;
            }
            .ng-message {
                margin-top: -20px;
                font-size: 12px;
            }

            .input-group {
                height: 42px;
                .form-control {
                    height: 100%;
                }
                .input-group-btn {
                    height: 100%;
                    border: 1px solid $input-border;
                    border-left: 0px;
                    button {
                        width: 63px;
                        height: 100%;
                    }
                }
            }

            .share-buttons {
                width: 100%;
                text-align: center;
                padding: 30px 0;
                border-top: 2px solid #D9D9D9;
                margin-top: 30px;
                label {
                    color: $black;
                    font-weight: 300;
                    margin-top: 0;
                    margin-bottom: 30px;
                }
                .row {
                    > div {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    @media(min-width: $screen-lg) {
        .panel-layout {
            width: $max-width;
        }
    }
    @media(min-width: $screen-md) {
        .panel-layout {
            display: table;
            > div {
                display: table-cell;
                float: none;
            }
            .intro-panel {
                vertical-align: bottom;
            }
            .form-panel {
                vertical-align: middle;
            }
        }
    }
    @media(max-width: $screen-md - 1px) {
        .panel-layout {
            .intro-panel {
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 16px;
                }
            }
            .form-panel {
                width: 100%;
                h2 {
                    font-size: 25px;
                }
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    @media(max-width: $screen-sm - 1px) {
        .panel-layout {
            margin-top: 40px;
            margin-bottom: 40px;
            .intro-panel {
                .description {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    height: 284px;
                }
            }
            .form-panel {
                padding: 30px 15px;
            }
        }
    }
}

.promo {
    background: #F7F7F7 url('../images/referral/promo-bg-m.jpg?v=1') no-repeat center $top-main-nav-height;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    > div {
        text-align: center;
        padding: 25px 15px;
        margin-bottom: 30px;
        background: transparent;

        h1 {
            font-size: 30px;
            font-weight: 300;
            text-transform: none;
            padding: 0 15px;
            max-width: 885px;
            margin: 0 auto 45px;
            .text-emphasize {
                font-weight: normal;
            }
        }
        .btn-yellow {
            color: white;
            padding: 20px 15px;
        }
    }
    @media(min-width: $screen-sm) {
        > div {
            h1 {
                font-size: 35px;
            }
        }
    }
    @media(min-width: $screen-md) {
        background: #F7F7F7 url('../images/referral/promo-bg.jpg?v=2') no-repeat center $top-main-nav-height;
        > div {
            padding: 100px 15px;
            h1 {
                font-size: 45px;
            }
            .btn-yellow {
                font-size: 18px;
            }
        }
    }
}