input, button, textarea {
  outline: 0 !important;
}
input:focus, button:focus, textarea:focus {
  outline: 0 !important;
}
button, button:focus {
  border: 0;
  background: transparent;
  outline: none !important;
}
.btn-group {
  z-index: 0;
}
.bootstrap-select {
  z-index: 1;
}

@mixin reset-list() {
  ul, ol {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;

    li {
      list-style: none;
    }
  }
}

@mixin reset-anchor() {
  a {
    color: inherit;
    cursor: pointer;
    border: 0;
  }
  a:hover, a:focus {
    text-decoration: none !important;
    color: inherit;
    outline: 0 !important;
  }
}