
#signup, #external-signup {
  top: 0;
  position: relative;
  min-height: 100%;
  text-align: center;
  margin-top: $margin-base-horizontal;
  margin-bottom: $margin-base-horizontal;

  h1 {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 30px;
    text-transform: none;
  }

  h2, h4 {
    text-transform: uppercase;
  }
  h3 {
    text-transform: none;
    font-size: 1.1em;
  }

  h4.ribbon-yellow {
    top: -2.75em;
    margin: 0 auto;
  }

  > div {
    @extend .section-box-shadowed;
    margin-top: 3em;
    background-color: #ffffff;
    padding-top: 4em;

    #signup-with-email, #signup-with-fb, #signup-with-gplus {
      width: 100%;
      @include transitions(font-size $trans-duration $trans-timing-function,
        font-weight $trans-duration $trans-timing-function,
        border $trans-duration $trans-timing-function,
        width $trans-duration $trans-timing-function);
      > .fa {
        margin-right: 10px;
        font-size: 18px;
      }
    }

    #signup-with-email.active {
      @extend .ribbon-yellow;
      font-weight: bold;
      border-radius: 0;
      width: 50%;
      padding-left: 0;
      padding-right: 0;
      &:after, &:before {
        bottom: -.52em;
        border-top-width: 2.18em;
        border-bottom-width: 2.18em;
      }
      @media (max-width: 730px) {
        width: 65%;
      }
      @media (max-width: 400px) {
        font-size: 14px !important;
        width: 70%;
      }
    }
  }

  #wizard-header {
    h2 {
      font-weight: bold;
      font-size: 2.2em;
      margin-top: 0;
    }
    h3 {
      font-size: 1em;
    }

    .wizard-nav-btn {
      font-size: 1.5em;
      color: $yellow-gold;

      img {
        vertical-align: text-bottom;
      }
    }
    .wizard-nav-btn:not(:last-child) {
      margin-right: 4.5em;
    }
    @media (max-width: 540px) {
      .wizard-nav-btn:not(:last-child) {
        margin-right: 2.5em;
      }
    }

    #status-buttons {
      display: inline-block;
      position: relative;
      padding: 3em 0;
      margin-bottom: 2em;
    }
    #status-buttons .line {
      content: '';
      display: block;
      height: 2px;
      width: 99%;
      background-color: $yellow_gold;
      left: 0;
      margin-bottom: -1.2em;
    }
  }
  .wizard-header-img {
    width: auto;
    height: auto;
  }

  #form-views {
    margin-bottom: $padding-xl-vertical;

    .form-section {
      padding: 2em 2em 3em 2em;
      margin-bottom: 2em;
    }
  }

  #form-buttons {
    text-align: center;
    margin-bottom: $padding-xl-vertical;
    display: block;

    button {
      display: inline-block;
      margin: 0 .5em 1em .5em;
    }

    // .submit-btn-container {
    //   .captcha-container {
    //     margin-top: -.5em;
    //   }
    // }
  }

  #create-account {
    input {
      background-color: #fff;
    }

    // .captcha-container {
    //   margin-top: 3em;
    // }
  }

  #project-plan {
    input, textarea {
      background-color: #fff;
    }

    label {
      float: left;
      position: relative;
    }

    .input-group-btn {
      .circular-loader {
        width: 24px;
        height: 24px;
        border-width: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
      }
    }

    .external-datetimepicker-toggle:hover,.external-datetimepicker-toggle:focus,
    .external-select-toggle:hover, .external-select-toggle:focus {
      background-color: $yellow-gold-hovered;
    }

    .bootstrap-select {
      width: 100%;
      border: 0;
      position: relative;

      .dropdown-toggle {
        border-radius: 0;
        border: 0;
        padding: 1.6em 1.5em;
        display: block;
        background: #fff;
        box-shadow: none;
        outline: none !important;
      }
      div.dropdown-menu {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .caret {
        position: absolute;
        top: 50%;
        right: 60px;
      }
    }
    .external-select-toggle {
      position: absolute;
      top: 50.5%;
      right: 1.5%;
      font-size: 2em;
      padding: .45em;
      background-color: #FCD307;
      border: 0px;
      z-index: 999;
    }
  }
}