/* team builder */

.team {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

#add-new-team, .add-new-member {
  border: 2px dashed $gray-dark;
}

#add-new-team {
  width: 100%;
  height: 58px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: table;
  color: $gray-dark;
  .fa {
    font-size: larger;
  }
}

.add-new-member {
  cursor: pointer;
  height: 130px;
  width: 130px !important;
  position: relative;
  margin-right: 0px;
  margin-bottom: 50px;
  display: table;
  color: $gray-dark;
  .fa {
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#add-new-team > div, .add-new-member > div {
  display: table-cell;
  vertical-align: middle;
}

#team-requirements {
  .flexslider-container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .flexslider {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none;
    margin-bottom: 0 !important;
    .slides {
      padding-top: 2em !important;
    }

    .flex-direction-nav {
      position: relative;
    }
    .flex-direction-nav a {
      display: inline-block;
      font-size: 0;
      opacity: 1 !important;
      position: relative;
      height: 100%;
      width: 100%;
      margin: 0 !important;
      top: 0 !important;
      right: 0 !important;
      left: 0 !important;
    }

    .flex-direction-nav > .flex-nav-next {
      right: 0 !important;
      margin-right: -40px;
      top: -130px;
      height: 50px;
      display: inline-block;
      position: absolute;
    }
    .flex-direction-nav > .flex-nav-prev {
      left: 0 !important;
      margin-left: -40px;
      top: -130px;
      height: 50px;
      display: inline-block;
      position: absolute;
    }

    .flex-next::before {
      content: '\f054' !important;
      font-family: FontAwesome;
      font-size: 26px;
    }
    .flex-prev::before {
      content: '\f053' !important;
      font-family: FontAwesome;
      font-size: 26px;
    }
  }
}

.member {
  position: relative;
  margin-bottom: 0;
  margin-right: 35px;
  text-align: center;
  outline: 0;

  > div.slide-content {
    position: relative;


    > div {
      width: inherit;
      height: 130px;
      position: relative;
      background-color: white;
      border: 2px solid $black;

      img {
        position: absolute;
        top: 5px;
        height: 55%;
        width: auto;
        max-width: 150%;
        left: 27px;
      }

      .plus-minus-btn {
        background-color: $black;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: .4em 0 .5em 0;
        font-size: 1.5em;
        font-weight: bold;

        button {
          position: absolute;
          background-color: transparent;
          border: 0;
          color: $yellow-gold;
        }
        button.plus {
          right: .5em;
        }
        button.minus {
          left: .5em;
        }

        input[type=text] {
          height: auto;
          padding: 0 1em !important;
          display: inline-block;
          background: transparent;
          text-align: center;
          margin: 0 !important;
          border: none;
          color: white;
          &:hover, &:focus {
            border: none !important;
            @include disable-box-shadow();
          }
        }
      }
    }

    label {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 21px;
      color: $black !important;
      padding: 10px 0;
      line-height: 27px;
      font-weight: 300;
      margin-top: $padding-small-vertical;
    }
  }
}

#quote-summary {
  background: url('../images/referral-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  h2 {
    margin-top: 50px;
  }
  @media(min-width: $screen-md) {
    h2 {
      margin-top: 100px;
    }
  }
}
.summary {
  background-color: #fff;
  padding: 2em 1.5em 50px;
  margin-top: 0;
  @include reset-list();

  > ul {
    height: 100%;
    min-height: 360px;
    text-align: left;

    li > ul {
      margin-bottom: $line-height-notepad * 2 !important;
    }
  }
}

.team-header {
  .btn-icon {
    font-size: 2em;
    margin-top: -.5em;
    margin-right: -.5em;
  }
}