$border-color: rgba(255, 255, 255, 0.2);
.top-nav {
  @extend .common-nav;
  z-index: 2;
  top:0;
  display: block;
  position: fixed;
  width: 100%;
  color: $black;
  height: $top-nav-height;
  background: transparent;
  @include transitions(all $trans-duration $trans-timing-function);

  nav, .contact-links {
    overflow: visible;
    position: relative;
    top: 0;
    @include transitions(top $trans-duration $trans-timing-function);
  }

  nav {
    padding: 0;
    display: block;
    color: $gray-lighter;
    height: $top-main-nav-height;
    @include linear-gradient(#1F1F1F, #020202);
    @include reset-list();

    #main-top-menu {
      height: 100%;
      width: 50%;
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 0;
      display: inline-table;
      text-align: right;

      > li {
        padding-left: 15px;
        padding-right: 15px;
        display: table-cell;
        vertical-align: middle;
        > a {
          padding: 4px 0;
          position: relative;
          @include transitions(color 0.4s ease);
          &:hover {
            color: $yellow-gold;
          }

          .icon {
            vertical-align: inherit;
          }
        }

        &.active > a {
          color: $yellow-gold;
          font-weight: bold;
          &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #FFBB41;
            position: absolute;
            top: 43px;
            left: -7px;
          }
          &::before {
            @extend .bullet-diamond;
            position: absolute;
            margin-left: -20px;
          }
        }
        &.iconed {
          color: $yellow-gold;
          &.active > a {
            &::before {
              display: none;
            }
            &::after {
              left: 0;
            }
          }
        }
      }

      .custom-dropdown-menu-bold {
        a {
          font-size: 12px !important;
          padding: $padding-base-vertical $padding-base-horizontal;
        }
      }
    }

    .logo, .logo-adjust-top {
      float: none;
      padding-left: 30px;
      padding-right: 30px;
      height: 100%;
      position: relative;
      display: inline-table;
      > div {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0;
        display: table-cell;
        vertical-align: middle;
        > img {
          width: auto;
          height: auto;
        }
        > div.logo-text {
          margin-left: 10px;
          font-weight: bold;
          font-size: 20px;
          text-transform: none;
          color: #FFFFFF;
          display: inline-block;
          >span{
            font-weight: bolder;
          }
        }
      }
    }
  }

  .contact-links {
    height: $contact-links-height;
    background-color: $yellow-gold;
    display: block;
    z-index: 1;
    color: $black;

    ul {
      display: table;
      float: right;
      height: $contact-links-height;
      li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 $padding-large-horizontal 0 0;
        font-size: $font-size-small;
        font-weight: bold;
        .fa {
          vertical-align: middle;
        }
      }
      li:first-child {
        padding-left: .5em;
      }
      a {
        .fa {
          margin-left: 2px;
          margin-right: 2px;
          font-size: larger;
          margin-right: 5px;
        }
      }
    }
    .btn-cta {margin-left: 4px;}

    .text-emphasize {
      color: white;
    }

    @media(max-width: 1199px) {
      ul > li {
        padding-left: 1em;
        padding-right: 1em;
      }
      ul > li:first-child {
        padding-left: .5em;
      }
    }
  }

  .scroller-top {
    font-size: 2.2em;
    vertical-align: middle;
    top: -1px;
    display: inline-block;
    position: relative;
  }

  /* Smaller Screens */
  @media (max-width: $screen-sm-max) {
    height: $top-main-nav-height !important;
    nav {
      height: 100% !important;
      #main-top-menu {
        width: auto;
        max-width: 800px;
      }
      .logo{
        margin: 0 !important;
        padding: 0 25px;
        border: none;
        > div {
          margin-top: 5px;
          @include transform(none);
          img {
            height: 25px;
            width: auto;
          }
          .logo-text {
            padding: 0;
            line-height: initial
          }
        }
      }
    }
    .compact-menu {
      height: 100%;
      padding: 18px 15px;
      display: table;
      position: relative;
      .fa {
        color: $yellow-gold;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }
    }
  }
}
/* Top Nav Dark */
.top-nav-dark {
  border-bottom: 1px solid $border-color;
  .contact-links {
    background: transparent;
    color: white;

    .text-emphasize {
      color: $yellow-gold;
    }
  }
  nav {
    background: transparent;
  }
}
/* Fixed Top Nav */
.top-nav-fixed {
  height: $top-nav-height-md;
  position: fixed !important;
  overflow: hidden;
  top: 0;
  border-bottom: none;
  z-index: 2;
  nav {
    @include linear-gradient(#1F1F1F, #020202);
  }
  .compact-menu {
    background-color: rgba(0, 0, 0, 0.31);
  }
  .social-media-links {
    color: #fff !important;
  }
  @media (min-width: 992px) {
    .contact-links, nav {top: -$contact-links-height;}
    &.top-nav-no-contacts {
      .contact-links, nav {top: 0;}
    }
  }
}
.top-nav-no-contacts {
  height: $top-main-nav-height;
  .contact-links {
    display: none;
  }
}
.top-nav-bright-fixed {
  height: $top-nav-height-md - 1px;
  position: fixed !important;
  overflow: hidden;
  top: 0;
  @media (min-width: 992px) {
    .contact-links, nav {top: -$contact-links-height;}
  }
}
.top-nav-bright {
  @media (min-width: 1061px) {
    > div, > nav {
      padding-right: 2.5em;
    }
  }
  @media (max-width: 1060px) {
    > div, > nav {
      padding-right: .5em;
    }
    .social-media-links {
      margin-left: 12px !important;
    }
  }
  background-color: $yellow-gold;
  border-bottom: none;
  color: $black;
  .contact-links {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    ul li {
      &:not(:last-child) {border-right: 1px solid rgba(0, 0, 0, 0.3);}
    }
  }
  .link:hover {color: #505050;}
}