html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.landing-v3 {
  .masterheader-v1 {
    margin-top: 55px;
    background-image: url('../img/homepage-v1/Office-bg@2x.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
  }

  #company-advantages-section {
    padding: 0 !important;
  }
  #client-testimony-section {
    padding: 0 !important;
  }
  .client-testimony-container{
    .client-testimony-title-container {
      text-align: center;
      margin-bottom: 40px;
    }
    .title {
      font-family: 'InterUI-Bold';
      font-size: 28px;
      color: #242845;
      text-align: center;
    }
    .grid-container {
      max-width: 1141px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin-top: 20px;
    }
    .grid-box {
      background: #FFFFFF;
      border: 1px solid #D9D9F2;
      border-radius: 10px;
      padding: 28px 20px 67px 20px;
      position: relative;
    }
    .client-profile-container {
      position: absolute; 
      bottom: 25px;
    }
    .ratings-container {
      text-align: right;
      margin-bottom: 15px;
    }
    .quote-container {
      margin-bottom: 12px;
    }
    .testimony-content {
      margin-bottom: 15px;
    }
    .testimony{
      font-family: 'InterUI-Regular';
      font-size: 13px;
      color: #626262;
      line-height: 24px;
    }
    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-box-one {
      flex: 0.5;
    }
    .flex-box-two {
      flex: 2;
    }
    .client-name {
      font-family: 'InterUI-Bold';
      font-size: 14px;
      color: #252525;
      line-height: 17px;
    }
    .client-title {
      font-family: 'InterUI-Regular';
      font-size: 10px;
      color: #98A6B8;
      letter-spacing: 0;
    }
    .client-image {
      width: 87%;
    }
    .schedule-chat-container {
      text-align: center;
      margin: 40px 0 70px 0;
    }
    .schedule-chat-button {
      padding-top: 20px;
      background: #F8B63E;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 11px 72px;
    }
  }
  .process-section {
    padding: 0 !important;
  }
  .process-container {
    background-image: url('../img/process-v1/Office2@2x.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    width: 100%;
    padding: 130px 0 20px 0;
    height: 600px;
    .process-header-container {
      width: 100%;
      text-align: center;
    }
    .process-header-title {
      font-family: 'InterUI-Bold';
      font-size: 30px;
      color: #FFFFFF;
      line-height: 38px;
    }
    .process-header-description {
      font-family: 'InterUI-Regular';
      font-size: 14px;
      color: #D1D3E3;
      text-align: center;
      line-height: 24px;
    }
    .process-content-container {
      background: #FFFFFF;
      box-shadow: 0 0 20px 0 rgba(166,166,166,0.50);
      padding: 50px 20px 40px 20px;
      z-index: 100;
      top: 65px;
      position: relative;
    }
    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .process-box:first-of-type {
      opacity: 0.4;
    }
    .process-box {
      margin-right: 15px;
    }
    .process-box:last-of-type {
      margin-right: 0;
      opacity: 0.4;
    }
    .icn-magic-container {
      padding-left: 30px;
      padding-right: 15px;
    }
    .grid-container {
      max-width: 1141px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin-top: 20px;
    }
    .grid-box {
      text-align: center;
    }
    .grid-box-title {
      font-family: 'InterUI-Medium';
      font-size: 17px;
      color: #4F5478;
      margin: 0;
    }
    .grid-box-description {
      font-family: 'InterUI-Regular';
      font-size: 13px;
      color: #71748D;
      line-height: 22px;
      margin-top: 30px 0 0 0;
    }
    .schedule-chat-button {
      padding-top: 20px;
      background: #F8B63E;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 11px 72px;
    }
    .schedule-chat-button-container{
      margin-top: 25px;
      text-align: center;
    }
  }
  .company-advantages-container {
    margin-top: 129px;
    .company-advantages-image {
      background-image: url('../img/company-advantages-images/bg-2@2x.jpg');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      @include background-cover;
      width: 100%;
      padding: 254px 30px 50px 30px;
    }
    .title {
      font-family: 'InterUI-Bold';
      font-size: 32px;
      color: #FFFFFF;
      line-height: 38px;
    }
    .description {
      font-family: 'InterUI-Regular';
      font-size: 16px;
      color: #FFFFFF;
      line-height: 24px;
      padding-top: 20px;
    }
    .find-out-button {
      padding-top: 20px;
      margin-top: 25px;
      background: #F8B63E;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 11px 72px;
    }
    .grid-container {
      max-width: 1141px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-box-one:first-of-type {
      margin-right: 58px;
    }
    .flex-box-one {
      flex: 2;
    }
    .advantage-title {
      font-family: 'InterUI-Medium';
      font-size: 18x;
      color: #4F5478;
    }
    .advantage-description {
      font-family: 'InterUI-Regular';
      font-size: 15px;
      color: #71748D;
      line-height: 22px;
    }
  }
  .highlight {
    color: #FFBB41;
  }
  #devpartners-developers-section {
    padding: 0 !important;
  }
  #client-list-section {
    padding: 0 !important;
  }
  #tech-stack-section {
    padding: 0 !important;
  }
  #company-advantages {
    padding: 0 !important;
  }

  .tech-box-container {
    margin-top: 40px;
    .grid-container {
      max-width: 1141px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    .tech-box {
      background: #FFFFFF;
      border: 1px solid #D9D9F2;
      border-radius: 10px;
      padding: 20px 20px 20px 25px;
      .tech-stack-lets-talk-button {
        visibility: hidden;
        text-align: right;
        width: 100%;
        p {
          font-family: 'InterUI-Medium';
          font-size: 15px;
          color: #F8B63E;
          text-align: right;
        }
      }
    }
    .tech-box:hover {
      background: #FAFAFE;
      border: 1px solid #FAFAFE;
      cursor: pointer;
      .tech-stack-lets-talk-button {
        visibility: visible;
      }
    }
    .tech-title {
      font-family: 'InterUI-Medium';
      font-size: 18px;
      color: #4F5478;
      margin-top: 15px;
    }
    .tech-description {
      font-family: 'InterUI-Regular';
      font-size: 14px;
      color: #626262;
      line-height: 24px;
    }
  }
  .tech-stack-container {
    margin-top: 100px;
    margin-bottom: 20x;
    .title {
      font-family: 'InterUI-Bold';
      font-size: 25px;
      color: #242845;
    }
    .description {
      font-family: 'InterUI-Regular';
      font-size: 16px;
      color: #71748D;
      line-height: 24px;
    }
  }
  .devpartners-developer-container {
    margin-top: 85px;
    margin-bottom: 20px;
    .title {
      font-family: 'InterUI-Bold';
      font-size: 32px;
      color: #242845;
      line-height: 38px;
      padding-bottom: 10px;
    }
    .description {
      font-family: 'InterUI-Regular';
      font-size: 16px;
      color: #71748D;
      line-height: 24px;
    }
    .schedule-chat {
      margin-top: 25px;
      background: #F8B63E;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 11px 72px;
    }
    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-box-one {
      flex: 2;
    }
  }
  .client-list-image-container {
    width: 11%;
    padding: 0 0 14px 10px;
    img {
      width: 100%;
    }
  }
  .client-list-container {
    margin-top: 10px;
    .client-list-title {
      font-family: 'InterUI-Medium';
      color: #909090;
      margin-bottom: 20px;
    }
    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-box-one {
      flex: 1;
    }
  }
  .header-row-container {
    padding: 100px 0 42.5px 0;
  }
  .header-image-banner-container {
    margin-left: 40px;
  }
  .header-banner-two-container {
    width: 36%;
    .description-container-v1 {
      padding-left: 16px;
    }
    .developer-name {
      font-family: 'InterUI-Bold';
      font-size: 15px;
      color: #C1C6F2;
      margin: 20px 0 6px 0;
    }
    .developer-title {
      font-family: 'InterUI-Medium';
      font-size: 10px;
      color: #FFD487;
      line-height: 21px;
      margin-bottom: 6px;
    }
    .developer-description {
      opacity: 0.7;
      font-family: 'InterUI-Regular';
      font-size: 10px;
      color: #FFFFFF;
      line-height: 21px;
    }
  }
  .header-image-container {
    position: relative;
    height: 300px;
    width: 59%;
    img {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -141px;
    }
  }

  .header-container {
    // padding-top: 100px;
    // padding-bottom: 90px;
    .header-title {
     .title {
      font-family: 'InterUI-Regular';
      font-size: 42px;
      color: #FFFFFF;
      line-height: 52px;
      margin: 0;
     }
     .header-country { 
       color:  #FFBC2F !important;
     }
     .title:last-of-type {
       font-weight: 700;
     }
     .resource-partner-container {
       font-family: 'InterUI-Bold';
     }
    }
  }
  .header-about-container {
    .header-about {
      opacity: 0.7;
      margin-top: 30px;
      margin-bottom: 0;
      font-family: 'InterUI-Regular';
      font-size: 13px;
      color: #FFFFFF;
      line-height: 22px;
    }
  }
  .schedule-button-container {
    .schedule-header-description-container {
      margin-top: 11px;
    }
    .schedule-button {
      margin-top: 25px;
      background: #F8B63E;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 11px 72px;
    }
    .schedule-button-description {
      opacity: 0.7;
      margin-bottom: 0;
      font-family: 'InterUI-Regular';
      font-size: 13px;
      color: #FFFFFF;
      line-height: 20px;
    }
    .schedule-button-description-container {
      padding-top: 18px;
      text-align: left;
    }
  }
  .client-mobile {
    display: none;
  }
  .devpartners-developer-mobile{
    display: none;
  }
  .tech-stack-mobile {
    display: none;
  }
  .company-advantages-container-mobile {
    display: none;
  }
  .process-container-mobile {
    display: none;
  }
  .process-content-container-mobile {
    display: none;
    margin-top: 20px;
  }
  .client-testimony-content-container-mobile {
    display: none;
  }
  // New homepage media query
  @media (max-width: 768px) {
    .client-desktop {
      display: none;
    }
    #tech-stack-section {
      padding-top: 33px !important;
    }
    .client-testimony-content-container-mobile {
      display: inline-block;
      width: 100%;
      .grid-box {
        background: #FFFFFF;
        border: 1px solid #D9D9F2;
        border-radius: 10px;
        padding: 28px 20px 67px 20px;
        position: relative;
        margin-bottom: 15px;
      }
      .grid-box:last-of-type {
        margin-bottom: 0;
      }
      .client-profile-container {
        position: absolute; 
        bottom: 25px;
      }
      .ratings-container {
        text-align: right;
        margin-bottom: 15px;
      }
      .quote-container {
        margin-bottom: 12px;
      }
      .testimony-content {
        margin-bottom: 15px;
      }
      .testimony{
        font-family: 'InterUI-Regular';
        font-size: 13px;
        color: #626262;
        line-height: 24px;
      }
      .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .flex-box-one {
        flex: 0.5;
      }
      .flex-box-two {
        flex: 2;
      }
      .client-name {
        font-family: 'InterUI-Bold';
        font-size: 14px;
        color: #252525;
        line-height: 17px;
      }
      .client-title {
        font-family: 'InterUI-Regular';
        font-size: 10px;
        color: #98A6B8;
        letter-spacing: 0;
      }
      .client-image {
        width: 87%;
      }
    }
    .client-testimony-content-container{
      display: none;
    }
    #process-section {
      display: inline-block;
      margin-bottom: 415px;
      .process-content-container {
        display: none;
      }
      .process-container {
        padding: 54px 0 20px 0;
      }
      .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .process-box {
        flex: 0.8;
        left: -114px; 
        position: relative;
        width: 0;
        svg {
          transform: rotate(-270deg);
        }
      }
      .process-box-one {
        flex: 2;
        left: -50px;
        position: relative;
        .schedule-chat-button {
          padding-top: 20px;
          background: #F8B63E;
          border-radius: 5px;
          color: #FFFFFF;
          padding: 11px 54px;
        }
        .schedule-chat-button-container{
          margin-top: 25px;
          text-align: center;
        }
        .process-mobile-container {
          margin-bottom: 40px;
        }
        .icon-container {
          text-align: center;
        }
        .process-content {
          text-align: center;
        }
        .process-title {
          font-family: 'InterUI-Medium';
          font-size: 16px;
          color: #4F5478;
          text-align: center;
        }
        .process-content {
          font-family: 'InterUI-Regular';
          font-size: 14px;
          color: #71748D;
          text-align: center;
          line-height: 24px;
        }
      }
    }
    .process-content-container-mobile {
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0 0 20px 0 rgba(166,166,166,0.50);
      padding: 25px 15px 40px 10px;
      width: 100%;
    }
    .process-container-mobile {
      display: inline;
      .process-header-container {
        width: 100%;
        text-align: center;
      }
      .process-header-title {
        font-family: 'InterUI-Bold';
        font-size: 22px;
        color: #FFFFFF;
        line-height: 38px;
      }
      .process-header-description {
        font-family: 'InterUI-Regular';
        font-size: 12px;
        color: #D1D3E3;
        text-align: center;
        line-height: 24px;
      }
    }
    .tech-stack-container {
      display: none;
    }
    .company-advantages-container-desktop {
      display: none;
    }
    .company-advantages-container-mobile {
      display: inline;
    }
    .company-advantages-container {
      .advantage-box-container:first-of-type {
        margin-top: 0;
      }
      .advantage-box-container {
        margin-top: 40px;
      }
      .advantage-title {
        font-size: 21px;
      }
      .advantage-description {
        font-size: 19px;
      }
      .flex-container {
        margin-top: 50px;
      }
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
      }
      .flex-box-one:first-of-type {
        margin-right: 0;
      }
      .flex-box-one {
        flex: 2;
      }
    }
    .tech-stack-mobile {
      display: inline;
      .tech-box:first-of-type {
        margin-top: 0;
      }
      .tech-box {
        background: #FFFFFF;
        border: 1px solid #D9D9F2;
        border-radius: 10px;
        padding: 20px 20px 20px 25px;
        margin-top: 10px;
        .tech-stack-lets-talk-button {
          visibility: hidden;
          text-align: right;
          width: 100%;
          p {
            font-family: 'InterUI-Medium';
            font-size: 15px;
            color: #F8B63E;
            text-align: right;
          }
        }
      }
      .tech-box:hover {
        background: #FAFAFE;
        border: 1px solid #FAFAFE;
        cursor: pointer;
        .tech-stack-lets-talk-button {
          visibility: visible;
        }
      }
      .tech-stack-header-container {
        text-align: center;
        padding: 0 15px;
      }
      .tech-stack-content-container {
        padding: 0 15px;
      }
      .title {
        font-family: 'InterUI-Bold';
        font-size: 20px;
        color: #242845;
        text-align: center;
        line-height: 25px;
      }
      .description {
        font-family: InterUI-Regular;
        font-size: 16px;
        color: #71748D;
        text-align: center;
        line-height: 24px;
      }
    }
    .devpartners-developer-container{
      .flex-container {
        display: none;
      }
      .devpartners-developer-mobile{
        display: inline;
      }
      .title{
        font-family: 'InterUI-Bold';
        font-size: 25px;
        color: #242845;
        text-align: center;
        line-height: 30px;
      }
      .mobile-image {
        margin-bottom: 10px;
      }
      .scheule-a-chat-mobile-container {
        text-align: center;
      }
      .description {
        font-family: 'InterUI-Regular';
        font-size: 16px;
        color: #71748D;
        text-align: center;
        line-height: 24px;
        width: 100%;
        text-align: center;
      }
      .schedule-a-chat-mobile {
        margin-top: 25px;
        background: #F8B63E;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 11px 72px;
      }
    }
    .client-mobile {
      display: inline;
      // width: 100%;
      .flex-container:first-of-type {
        margin-top: 0;
      }
      .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
      }
      .flex-box-one:first-of-type {
        margin-left: 0;
      }
      .flex-box-one {
        flex: 0.5;
        margin-left: 5px;
      }
    }
    .header-banner-two-container {
      width: 45%;
      .header-stack {
        display: none;
      }
      .developer-name {
        font-size: 14px;
      }
    }
    .masterheader-v1 {
      margin-top: 50px;
    }
    .header-container {
      .header-title {
        .title {
          width: 100%;
          text-align: center;
          font-size: 35px;
        }
      }
    }
    .header-about-container {
      .header-about {
        width: 100%;
        text-align: center;
      }
    }
    .schedule-button-container {
      width: 100%;
      text-align: center;
    }
    .schedule-header-description-container {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      text-align: center;
      padding-left: 11%;
    }
    .header-image-container {
      position: relative;
      height: 300px;
      width: 50%;
      right: -51px;
      img {
        width: 80%;
        bottom: 52px;
      }
    }
    .header-image-banner-container {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }  
  .homev3-container {
    // Styling for the masthead
    header.masthead {
      margin-top: 200px;
      background-image: url('../img/background/home-page-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      @include background-cover;
      .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
          font-size: 22px;
          font-style: normal;
          line-height: 22px;
          margin-bottom: 25px;
          @include heading-font;
        }
        .intro-heading {
          font-size: 45px;
          line-height: 50px;
          margin-bottom: 10px;
          @include heading-font;
          font-weight: normal;
        }
      }
      .talent-slide-col{
        .shadow-effects{
          -webkit-box-shadow: 13px 11px 0px 0px rgba(245,245,245,1);
          -moz-box-shadow: 13px 11px 0px 0px rgba(245,245,245,1);
          box-shadow: 13px 11px 0px 0px rgba(245,245,245,1);
        }
        .inner-shadow{
          -webkit-box-shadow: 24px 25px 0px 0px rgba(232,232,232,1);
          -moz-box-shadow: 24px 25px 0px 0px rgba(232,232,232,1);
          box-shadow: 24px 25px 0px 0px rgba(232,232,232,1);
        }
        .talent-row{          
          background: $white;
          border-radius: 3px;
          .talent-img-col{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 400px;
            height: 100%;
            background-size: cover;
          }
          .talent-desc-col{
            .padding{
              
              background: url('../img/background/dp-bg-talents.png') no-repeat center bottom;
              background-size: contain;
              height: 100%;
              margin: 35px 20px;
              .btn{
                color: $font-grey;
              }
            }
          }
        }        
        .slick-dots{
       
          li{
            button{
              &:before{
                margin-top: 25px;
                color: $primary;
                font-size: 12px;
              }
            }
            &.slick-active{
              button{
                &:before{
                  color: $white;
                  opacity: 1;
                }
              }
            }
          } 
        }
      }
    }
    @media(min-width:992px) {
      header.masthead {
        margin-top: 110px;
        header.landing-masthead {
          .intro-text {
            padding-top: 274px;
            padding-bottom: 125px;
            .intro-lead-in {
              font-size: 42px;
              font-style: normal;
              line-height: 42px;
              margin-bottom: 25px;
              @include heading-font;
            }
            .intro-heading {
              font-size: 50px;
              line-height: 72px;
              margin-bottom: 25px;
              @include heading-font;
            }
          }
        }
      }
    } // Styling for the services section
    #service-v3 {
      background: $white;
      .scroll-technologies {
        cursor: ew-resize;
        max-width: 100vw;
        width: 110vw;
        .row {
          // overflow-x: auto;
          white-space: nowrap;
          .slick-slide img{
            display: inline;
          }
          .well {
            width: 260px !important;
            height: 260px;
            margin: 0 20px;
            display: inline-block;
            text-align: center;
            line-height: 220px;
            .well-inner{
              // display: flex;
              // justify-content: center;
              img{
                vertical-align: middle;
              }
            }
          }
        }
        .slick-dots{
       
          li{
            button{
              &:before{
                margin-top: 35px;
                color: $primary;
                font-size: 12px;
              }
            }
            &.slick-active{
              button{
                &:before{
                  color: black;
                  opacity: 1;
                }
              }
            }
          } 
        }
      }
    } // Styling for the testimonial section
    .testimonial {
      background: url('../img/background/testimonial-bg.jpg') no-repeat center;
      @include background-cover;
      .team-member {
        margin-bottom: 50px;
        text-align: center;
        img {
          width: 155px;
          height: 155px;
          border-radius: 50%;
        }
        h4 {
          margin-top: 25px;
          margin-bottom: 0;
          font-size: 22px;
          text-transform: none;
        }
        p.user-descrpition {
          font-size: 15px;
          color: $font-grey;
          margin-top: 0;
          margin-bottom: 25px;
        }
        p.text-testimony {
          font-size: 18px;
          font-weight: bold;
          font-style: italic;
          color: $font-grey;
        }
      }
      .company-logos {
        padding-top: 50px;
        text-align: center;
        img {
          height: auto;
          width: 90%;
          padding: $padding-large-vertical 0px;
        }
        .hidden-md,
        .hidden-lg {
          .carousel-inner {
            height: 180px;
            overflow: hidden;
            .item {
              img {
                height: auto;
                width: auto;
                padding: 15px 0px;
                display: inline-block;
                transform: scale(1.5);
              }
            }
          }
        }
        @media(max-width: $screen-lg - 1px) {
          img {
            height: auto;
            width: 60%;
            max-width: 225px;
          }
        }
      }
    }
    .we-are-different {
      background: $white;
      padding: 100px 0;
    } // Styling for the timeline section
    .get-started {
      background: $white;
      padding: 75px 0;
      .section-heading {
        margin-bottom: 15px;
      }
      .section-subheading {
        font-style: normal;
        font-size: 18px;
        font-weight: normal;
      }
      button.btn {
        min-width: 250px;
        color: $font-grey;
      }
      .timeline {
        position: relative;
        padding: 0;
        list-style: none;
        margin-bottom: 50px;
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 25px;
          width: 2px;
          margin-left: -1.5px;
          content: '';
          background-color: $gray-200;
        }
        >li {
          position: relative;
          min-height: 50px;
          margin-bottom: 50px;
          padding-left: 65px;
          &:after,
          &:before {
            display: table;
            content: ' ';
          }
          &:after {
            clear: both;
          }
          .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 20px;
            text-align: left;
            background: #fbf2e0;
            @include v3box-shadow-3;
            &:before {
              right: auto;
              left: -15px;
              border-right-width: 15px;
              border-left-width: 0;
            }
            &:after {
              right: auto;
              left: -14px;
              border-right-width: 14px;
              border-left-width: 0;
            }
          }
          .timeline-image {
            position: absolute;
            z-index: 100;
            left: 0;
            width: 50px;
            height: 50px;
            margin-left: 0;
            text-align: center;
            color: white;
            border-radius: 100%;
            background-color: $primary;
            padding-top: 13px;
            font-size: 18px;
            h4 {
              font-size: 10px;
              line-height: 14px;
              margin-top: 12px;
            }
          }
          &.timeline-inverted>.timeline-panel {
            float: right;
            padding: 20px;
            text-align: left;
            &:before {
              right: auto;
              left: -15px;
              border-right-width: 15px;
              border-left-width: 0;
            }
            &:after {
              right: auto;
              left: -14px;
              border-right-width: 14px;
              border-left-width: 0;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .timeline-heading {
          img {
            height: 100px;
          }
          h4 {
            margin-top: 25px;
            color: inherit;
            margin-top: 25px;
            color: inherit;
            font-size: 22px;
            text-transform: none;
            line-height: 1.4;
            &.subheading {
              text-transform: none;
            }
          }
        }
        .timeline-body {
          >ul,
          >p {
            margin-bottom: 0;
            color: inherit;
            font-size: 17px;
            line-height: 1.5;
          }
        }
      }
      @media(min-width:768px) {
        button.btn {
          margin-top: -75px;
        }
        .timeline {
          &:before {
            left: 50%;
          }
          >li {
            margin-top: 45px;
            padding-left: 0px;
            min-height: 100px;
            margin-bottom: -90px;
            &:last-child{
              min-height: 170px;
            }
            .timeline-panel {
              float: left;
              width: 41%;
              padding: 20px 20px 20px 30px;
              text-align: right;
              &:after {
                left: 100%;
                top: 25px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(251, 242, 224, 0);
                border-left-color: #fbf2e0;
                border-width: 12px;
                margin-top: -12px;
              }
            }
            .timeline-image {
              left: 50%;
              width: 50px;
              height: 50px;
              margin-left: -25px;
              h4 {
                font-size: 13px;
                line-height: 18px;
                margin-top: 16px;
              }
            }
            &.timeline-inverted>.timeline-panel {
              float: right;
              padding: 20px 30px 20px 20px;
              text-align: left;
              &:after {
                left: -24px;
                top: 25px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(251, 242, 224, 0);
                border-right-color: #fbf2e0;
                border-width: 12px;
                margin-top: -12px;
              }
            }
          }
        }
      }
      @media(min-width:992px) {
        .timeline {
          >li {
            min-height: 150px;
            .timeline-panel {
              padding: 30px;
            }
            .timeline-image {
              width: 50px;
              height: 50px;
              margin-left: -25px;
              h4 {
                font-size: 18px;
                line-height: 26px;
                margin-top: 30px;
              }
            }
            &.timeline-inverted>.timeline-panel {
              padding: 30px;
            }
          }
        }
      }
      @media(min-width:1200px) {
        .timeline {
          >li {
            min-height: 50px;
            .timeline-panel {
              padding: 20px 20px 20px 50px;
            }
            .timeline-image {
              width: 50px;
              height: 50px;
              margin-left: -25px;
              h4 {
                margin-top: 40px;
              }
            }
            &.timeline-inverted>.timeline-panel {
              padding: 20px 50px 20px 20px;
            }
          }
        }
      }
    }
    .map-section {
      padding: 0;
      .map-container {
        height: 780px;
        background: no-repeat center;
        @include background-cover;
        .row {
          position: absolute;
          width: 100%;
          bottom: -20px;
          .panel {
            box-shadow: none;
            border: none;
            border-radius: 0px;
            .nav-tabs {
              .nav-item {
                background: #fff3dd;
                &.active {
                  background: $white;
                }
                a {
                  border-radius: 0;
                  border: none;
                }
              }
            }
            uib-tab-heading {
              
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              h3 {
                margin: 7px 0;
                text-transform: none;
              }
            }
            .panel-body {
              h3 {
                font-size: 22px;
                text-transform: none;
              }
              
            }
          }
        }
      }
      .panel-orange {
        border-radius: 0;
        margin-bottom: 0;
        height: 780px;
        .panel-body {
          padding: 30px 40px;
          input {
            background: $white; // border-color: $font-grey;
          }
         
          .text-center {
            text-align: center;
            .btn-default {
              // margin: 0 auto;
              // margin-top: -20px;
              min-width: 100%;
              color: $font-grey;
            }
          }
          .submit-btn{
            width: 50%;
            height: 74px;
          }
          .inner-captcah {
            width: 100%;
          }
        }
      }
    }
    @media(min-width:1200px) {
      .map-section {
        .panel-orange {
          .panel-body {
            padding: 30px 50px;
          }
        }
      }
    }
  }
}