.position, .position-all-caps {
    font-weight: normal;
    font-size: 16px;
}
.position {
    text-transform: none;
}
.position-all-caps {
    text-transform: uppercase;
    color: $gray-light;
    margin: 0 0 30px 0;
}
.avatar {
    @include border-radius(50%);
    background-color: lightgray;
}

@media(min-width: $screen-md) {
    .position {
        font-size: 18px;
    }
    .position-all-caps {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

#our-people, .software-developers, .talents {
    background-color: #FAFAFA;
    padding-bottom: 50px;
    @include reset-list();
    h1, h2 {
        font-weight: 300;
    }
}

#our-people {
    header {
        padding-top: 30px;
        padding-bottom: 250px;
        margin-bottom: 50px;
        background: url('../images/ourpeople/our-people.jpg') no-repeat center bottom;
        background-size: cover;
        .jumbotron {
            text-align: center;
            background: transparent;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 0;

            p {
                color: $gray-lighter;
                font-weight: 400;
                font-size: 18px;
            }
        }
        h1 {
            margin-bottom: 20px;
            font-size: 35px;
        }
    }
    section {
        padding: 0 20px 30px;
        h2 {
            text-align: center;
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .team {
            $avatar-size: 134px;
            > li {
                padding-top: $avatar-size/2;
            }
            address {
                color: $gray-lighter;
            }
            p {
                font-size: 14px;
                color: $gray-light;
            }
            .top-to-bot {
                padding: 30px 20px;
                border: 1px solid lightgray;
                border-radius: 4px;
                margin-bottom: 30px;
                .avatar {
                    width: $avatar-size;
                    height: $avatar-size;
                    margin-top: -($avatar-size/2 + 30px);
                }
                .name {
                    font-size: 16px;
                }
                .fa-quote-left {
                    font-size: 26px;
                    color: #F1B839;
                    vertical-align: middle;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media(min-width: $screen-md) {
        padding-bottom: 50px;
        header {
            padding-bottom: 300px;
            margin-bottom: 100px;
            .jumbotron {
                p {
                    max-width: 920px;
                    display: inline-block;
                    font-size: 31px;
                    line-height: 34px;
                    font-weight: 300;
                }
            }
            h1 {
                font-size: 50px;
            }
        }
        section {
            h2 {
                font-size: 40px;
                margin-top: $padding-xl-vertical;
                margin-bottom: $padding-xl-vertical;
            }
            .team {
                margin-top: 100px !important;
                > li {
                    padding-top: 0;
                    &:not(:first-of-type)  {
                        margin-top: -100px;
                    }
                }
                .left-to-right, .right-to-left {
                    .member-details {
                        text-align: center;
                        display: inline-block;
                        width: 200px;
                    }
                    .avatar {
                        width: 183px;
                        height: 183px;
                    }
                    .name{
                        font-size: 18px
                    }
                    .member-quote {
                        display: inline-block;
                        margin-top: -20px;
                        p {
                            margin-bottom: 0;
                            font-size: 17px;
                            &::before {
                                content: '\f10d';
                                font-family: FontAwesome;
                                color: #F1B839;
                                font-size: 26px;
                                float: left;
                                margin-right: 15px;
                            }
                        }
                    }
                    .speech-bubble {
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        padding: 20px;
                        border: 1px solid $generic-border-color;
                        @include border-radius(4px);
                        background: #FAFAFA;
                        max-width: 500px;
                        z-index: 0;
                    }
                    .speech-bubble::before {
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        width: 25px;
                        height: 20px;
                        position: absolute;
                        content: "";
                        bottom: 0;
                        border: 1px solid $generic-border-color;
                        -o-text-overflow: clip;
                        text-overflow: clip;
                        background: #FAFAFA;
                        @include transform(rotateZ(-14.32394deg) translateX(-7px) skewX(-40deg));
                        z-index: -1;
                        border-top-width: 0;
                        border-right-width: 0;
                    }
                }
                .left-to-right {
                    text-align: left;
                    .speech-bubble {
                        margin-left: 10px;
                        &::before {
                            left: 0;
                        }
                    }
                }
                .right-to-left {
                    text-align: right;
                    .speech-bubble {
                        margin-right: 10px;
                        position: relative;
                        vertical-align: top;
                        &::before {
                            right: 0;
                            bottom: 13px;
                            @include transform(rotateZ(250.32394deg) translateX(-18px) skewX(-40deg));
                        }
                        p {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.software-developers, .talents {
    text-align: center;
    padding-top: 0 !important;
    h3 {
        text-transform: none;
        font-size: 22px;
        font-weight: normal;
    }
    header {
        width: 100%;
        height: 100%;
        padding: (70px + $top-main-nav-height) 15px 100px;
        background: url('../images/ourpeople/software-developers-bg.jpg') no-repeat center center;
        background-size: cover;
        h1 {
            font-size: 21px;
            color: white;
            max-width: 700px;
            margin: 0 auto;
        }
    }
    section {
        text-align: center;
        background-color: #fafafa;
        h2 {
            margin-top: 0;
            font-size: 25px;
            color: black;
        }
        p {
            width: 100%;
            img.to-left {
                width: 50px;
                vertical-align: middle;
            }
        }
    }
    .cover {
        img {
            max-width: 800px;
            margin: 0 auto;
        }
    }
    .contact-info {
        > div {
            padding-left: 0;
            padding-right: 0;
        }
        .map {
            height: 300px;
        }
    }
    .location {
        padding: 50px 0;
        > div {
            .row {
                height: 200px;
                > div {
                    padding: 0;
                }
                .content-left-overlay {
                    .location-name {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .testimonials {
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
        .panel-testimonial:not(:last-child) {
            margin-bottom: $padding-base-horizontal;
        }
    }
    .border-db-bottom, .offices, .bordered-diamond-bottom, .featured-talents {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .developer, .project {
        .avatar {
            width: 183px;
            height: 183px;
            @include border-radius(50%);
            margin-top: -92px;
            display: inline-block;
            background-color: white;
            @include box-shadow-o(0 0 5px 1px rgba(31, 31, 31, .08));
        }
        .name {
            font-weight: normal;
            text-transform: none;
        }
        .name {
            font-size: 25px;
            margin-bottom: 10px;
            margin-top: 15px;
        }
    }
    .project {
        padding: 0 $padding-base-horizontal;
        @extend .bordered-diamond-bottom;
        &::before, &::after {
            display: none;
        }
        .avatar {
            margin-bottom: 25px;
            img {
                width: 90%;
            }
        }
        .company-logo {
            margin: 20px auto 30px;
            width: 150px;
        }
    }
    .technologies, .contact {
        ul {
            text-align: center;
            display: inline-block;
            margin-top: 15px !important;
            li {
                padding: 15px 0;
                border-right: 0;
                display: block;
            }
        }
    }
    .talent, .contact {
        .media {
            text-align: center;
            padding: 15px;
            .media-left, .media-body {
                display: block;
            }
            .media-left {
                padding: 25px 0 0;
            }
            .media-object {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                display: inline-block;
            }
            .media-body {
                width: 100%;
                padding: 15px 0;
                .media-heading {
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }
    }
    .talent {
        background-color: #FCAB36;
        padding-top: 10% !important;
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            color: white;
            font-weight: 400;
        }
        .developer {
            background-color: white;
            margin-top: 100px;
            padding: 0 15px 15px;
        }
        @media(max-width: $screen-xs-max) {
            padding-top: 25% !important;
        }
        @media (min-width: $screen-lg-max) {
            padding-top: 12% !important;
        }
    }
    .contact {
        background: url('../images/ourpeople/contact-person-bg.jpg') no-repeat center center;
        background-size: cover;
        .media-body {
            p.main-description, > div {
                margin-bottom: 5px;
            }
            > div {
                font-size: 16px;
            }
        }
    }
    .average-cost {
        background: url('../images/ourpeople/costing-bg.jpg') no-repeat center center;
        background-size: cover;
        h2 {
            max-width: 600px;
        }
        .main-description {
            color: $black;
            font-weight: normal;
        }
    }
    @media(min-width: $screen-xs) {
        .technologies {
            ul {
                li {
                    display: inline-block;
                    width: 50%;
                }
            }
        }
    }
    @media(min-width: $screen-sm) {
        .contact-info {
            $ci-height: 490px;
            .map {
                height: $ci-height;
            }
            .contact {
                height: $ci-height;
            }
        }
    }
    @media(min-width: $screen-md) {
        padding-bottom: 80px;
        section {
            margin-bottom: 50px;
            p {
                max-width: 1029px;
                display: inline-block;
            }
        }
        .developer {
            padding-bottom: 60px;
            .name {
                font-size: 30px;
                margin-top: 45px;
                margin-bottom: 20px;
            }
        }
        .technologies {
            ul {
                width: 100%;
                max-width: $screen-lg;
                li {
                    width: 20%;
                    display: inline-block;
                    img {
                        max-width: 80%;
                    }
                }
            }
        }
        .project {
            .company-logo {
                width: 300px;
            }
        }
        .location {
            > div .row {
                height: 240px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .talent {
            >.container-fluid {
                >.row {
                    @include flex();
                }
            }
        }
        .testimonials {
            margin-top: 100px;
            padding-left: $padding-base-horizontal;
        }
        .main-description {
            font-size: 23px;
        }
    }

    @media(min-width: $screen-lg) {
        section {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.software-developers {
    @media (min-width: $screen-lg) {
        .developer {
            background-color: #fafafa;
            top: -100px;
            margin-top: 100px;
            margin-bottom: -100px;
            padding-top: 0 !important;
        }
        .technologies {
            margin-top: 40px;
        }
    }
}
.featured-talents {
    background-color: #f3f3f3;
    margin-top: 15px;
}
.talents #featured-post {
    text-align: left;
    border-top : 1px solid lightgrey;
    padding-top: 0 !important;
    h1 {
        font-weight: bold;
        color: inherit;
    }
    h2, h3 {
        font-weight: normal;
        color: inherit;
    }
    h2 {
        margin-top: 0;
        font-size: 30px; 
    }
    section {
        text-align: unset;
        background-color: #fafafa;  
        p {
            width: auto;
            max-width: unset !important;
        }
    }
    ul, ol {
        list-style-type: unset;
        padding: 0 0 0 40px !important;
        margin: 0 0 40px 0 !important;
        li {
            list-style: unset;
            list-style-type: decimal;
        }
    } 
    @media(min-width: $screen-md) {
        p {
            margin: 0 0 40px 0 !important;
            max-width: unset;
            display: block;
        }
    }    
}

.featured-talents > .col-sm-12 {
    padding: 0;
}
.featured-talents-profile {
    ul.team {
        li:first-child>div {
            margin-top: 25px;
        }
        li:last-child>div {
            margin-bottom: 0;
        }
    }

    .talent-profile {
        margin-bottom: 25px;
    }

    .striped {
        div {
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @media(max-width: $screen-md-max) {
            div {
                padding-top: 0;
                padding-bottom: 0;
            }
            >div {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    .member-details {
        .photo {
            text-align: right;
        }
        img.avatar {
            width: 65%;
        }
        h4,
        ul {
            text-align: left;
        }
        p {
            text-align: justify;
        }
        .label.label-yellow {
            font-size: 12px;
        }

        @media(max-width: $screen-md-max) {
            .name {
                margin-top: 20px;
            }
            img.avatar {
                width: 200px;
            }
            h4 {
                text-align: center;
            }
        }
    }
}