.captcha-container {
  padding: 0 2em;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  > div {
    > div {    
      margin-right: auto;
      margin-left: auto;
      @include scale(.77);
      @include transform-origin(5em, center);
      @media (max-width: 320px) {
        @include scale(.70);
      }
    }
  }  
}
@media screen and (max-height: 575px){
  #rc-imageselect, .g-recaptcha, .captcha-container iframe { 
    @include scale(0.77); 
    @include transform-origin(0, 0);
  }
}
.gc-reset{
  transform:scale(0.95) !important;
  -webkit-transform:scale(0.95) !important;
  transform-origin:0 0 !important;
  -webkit-transform-origin:0 0 !important;
}