/* live chat */

.clickdesk_bubble {
  display: none !important;
}

.livilyChatButton {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 3000;
  //animation-delay: 1s;
  //opacity: 0;
  // animation-name: bounceIn;
  // animation-duration: 450ms;
  // animation-timing-function: linear;
  // animation-fill-mode: forwards;
}

.cdw-chat-header-text-name,
.cdw-chat-contact-text,
.cdw-chat-contact-form-text  {
  font-family: Gotham !important;
  font-size: 14px !important;
}

.cdw-chat-header-text-name {  
  color: #844b03 !important;
}

