.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
.text-upperc {
  text-transform: uppercase;
}
.text-original-case {
  text-transform: none;
}
.text-bold {
  font-weight: bold !important;
}
.text-normal {
  font-weight: normal;
}
.text-thin {
  font-weight: 200;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-emphasize {
  color: $yellow-gold;
}
.text-emphasize-lg {
  @extend .text-emphasize;
  font-size: 24px;
}
.text-emphasize-lg-black {
  @extend .text-emphasize-lg;
  color: $black;
}
.text-emphasize-gray {
  color: $gray-light;
}
.text-center-align {
  text-align: center;
}
.text-danger {
  color: $state-danger-text;
}
.text-strikethrough {
  text-decoration: line-through;
}
.main-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: $gray;
}
.center-in-parent {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
.center-children {
  display: table;
  .centered-child {
    display: table-cell;
    vertical-align: middle;
  }
}
.spaced-vertical {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  @media (max-width: $screen-sm-max) {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}
.spaced-vertical-md {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.box-shadowed {
  @include box-shadow(1px, 1px, 1px, 1px);
}
.section-box-shadowed {
  padding: 1em 4em 6em 4em;
  background-color: #fff;
  @include box-shadow(1px, 2px, 10px, 4px);
  @media(max-width: 640px) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @media(max-width: 480px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.info {
  padding: .5em;
  font-size: smaller;
}
.description-sm {
  font-style: italic;
  color: #979797;
  display: block;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}
.tooltipped {cursor: pointer;}

.link {
  @include transitions(color 0.4s ease);
  &:hover {
    color: $yellow-gold;
  }
}
.common-nav {
  nav {
    text-transform: uppercase;
    padding: .5em 0;
    background-color: transparent;
    color: $text-color;
    font-size: 16px;
    @include reset-list();
    @include reset-anchor();
  }
}

.background {
  background: url(../images/signup/water-color-paper-bg.jpg) center center repeat;
}

.logo {
  height: 75px;
}
@media (max-width: 991px) {
  .logo {
    height: 50px;
  }
}

/* images */
.img-responsive, .img-responsive-sm{
  max-width: 100%;
  height: auto;
}
.img-responsive-sm {
  width: 100%;
}
.img-responsive-larger{
  width: 110%;
  height: auto;
}
.img-center-cropped {
  overflow: hidden;
  position: relative;
  img {
    left: 50%;
    position: absolute;
    @include transform(translate(-50%, -50%));
    top: 50%;
  }
}
.img-center-cropped-fill-parent {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  img {
    left: 50%;
    position: absolute;
    @include transform(translate(-50%, -50%));
    top: 50%;
    max-width: inherit;
    max-height: inherit;
    height: 100%;
  }
}
.img-center-cropped-fill-parent-landscape {
  @extend .img-center-cropped-fill-parent;
  img {
    height: auto !important;
    width: 100%;
  }
}
.img-center-cropped-fill-parent-portrait {
  @extend .img-center-cropped-fill-parent;
  img {
    width: auto !important;
    height: 100%;
  }
}
.logo-small {
  height: 60px;
}
.logo-xsmall {
  height: 40px !important;
  width: auto !important;
  display: inline-block !important;
}
.avatar {
  @include border-radius(50%);
  @include box-shadow-o(0px 2px 4px 0px rgba(46,46,46,0.75));
  &.large {
    width: 180px;
  }
  &.medium {
    width: 80px;
  }
  &.small {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .img-responsive-sm {
    max-width: 75%;
    height: auto;
  }
  .img-responsive-larger{
    max-width: 85%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .img-responsive-sm {
    max-width: 75%;
    height: auto;
  }
  .img-responsive-larger{
    max-width: 75%;
    height: auto;
  }
}
@media (max-width: 540px) {
  .img-responsive-sm {
    max-width: 100%;
    height: auto;
  }
  .img-responsive-larger{
    max-width: 95%;
    height: auto;
  }
}
.icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

/* paddings and contraints */
.constraints, .constriants-xs, .constraints-small, .constraints-medium, .constraints-large {
  margin-left: auto;
  margin-right: auto;
}
.constraints {
  max-width: $max-width;
}
.constriants-xs {
  max-width: $max-width-xs;
}
.constraints-small {
  max-width: $max-width-small;

  @media(max-width: $max-width) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.constraints-medium {
  max-width: $max-width-medium;
}
.constraints-large {
  max-width: $max-width-large;
}

.padded-horizontal {
  padding: 0 $padding-small-horizontal;
}

.inline-block {
  display: inline-block;
}

/* ribbons */
.ribbon-yellow {
  font-size: 16px !important;

  display: inline-block;
  position: relative;
  background: $yellow-gold;
  color: $black;
  text-align: center;
  padding: .98em 4em;
  margin: 1em 0em 2em;

  border-top: dotted #fff;
  border-bottom: dotted #fff;
  box-shadow: 0px 0px 0px 5px $yellow-gold;

  .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
  }
  .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
  }

  @media(max-width: 600px) {
    padding: .98em 1.2em;
  }
}
.ribbon-yellow:before, .ribbon-yellow:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -.5em;
  border: 2em solid $yellow-gold;
}
.ribbon-yellow:before {
  left: -2.5em;
  border-right-width: .2em;
  border-left-color: transparent;
}
.ribbon-yellow:after {
  right: -2.3em;
  border-left-width: .2em;
  border-right-color: transparent;
}

/* shapes */
.bullet-diamond {
  content: '';
  border: 1px solid #FFBB41;
  width: 11px;
  height: 11px;
  display: inline-block;
  top: 6px;
  @include transform(rotate(45deg));
}

/* labels */
.label-outline-default {
  padding: 10px 35px;
  border: 2px solid white;
  @include border-radius(35px);
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 11px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, .05);
}
.label-outline-yellow {
  @extend .label-outline-default;
  color: $yellow-gold;
  border-color: $yellow-gold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, .05);
}
.label-yellow {
  background-color: $yellow-gold;
  padding: 10px 20px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid $yellow-gold;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;
  &.large {
    font-size: 13px;
  }
}

/* confirmation dialog */
.confirmation {
  text-align: center;
  padding-bottom: 7em;
  padding-top: 2em;
  font-size: 1.25em;

  > div {
    padding: 5em;
    text-align: left;
    position: relative;
    margin-top: $top-nav-height;
    background-color: #fff;
    @include box-shadow(1px, 2px, 10px, 4px);

    @media(max-width: 991px) {
      margin-top: $contact-links-height;
    }
  }

  .img-responsive {
    margin: auto;
  }
}

/* section */
.section {
  .section-title {
    text-align: center;
  }
  .section-description {
    color: $gray-lighter;
    text-align: center;
  }
}
.section-white {
  background-color: white;
}
.section-dark {
  color: white;
  .section-title {
    color: $yellow-gold;
  }
  p {
    max-width: 883px;
    display: inline-block;
    margin-bottom: 50px;
  }
}

/* scrollable panel layout */
.scrollable-panel-layout, .non-scrollable-panel-layout {
  .scrollable-panel {
    height: 393px;
    padding: 40px;
    text-align: center;
    .panel-img {
      height: 64px;
      width: auto;
    }
    .panel-title {
      text-align: center;
      font-weight: 900;
    }
    p {
      color: $gray-lighter;
    }
    ul {
      list-style: none !important;
      li {
        list-style-type: none !important;
        margin-bottom: 10px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    .mCustomScrollbar {
      height: 160px;
      overflow-y: auto;
      padding-left: $padding-base-horizontal;
    }
  }
  @media(max-width: $screen-md - 1px) {
    .scrollable-panel {
      height: auto;
    }
  }
}
.non-scrollable-panel-layout {
  .scrollable-panel {
    overflow: hidden;
    height: 285px;
    .panel-img {
      height: 55px;
    }
  }
}
/* multi-colored panel layout */
.panel-multi-colored {
  @include flex();

  .panel {
    margin: 0;
    padding: 40px;
    text-align: center;
    border: none;
    color: $black;
    display: inline-block;
    @include border-radius(0);

    &.panel-yellow {
      background-color: $yellow-gold;
    }
    &.panel-bright {
      background-color: white;
    }
    &.panel-dark {
      background-color: $black;
      color: $yellow-gold;
    }
    &.panel-white-img-only {
      background-color: white;
      display: inline-flex;
      align-items: center;
      img {
        width: 188px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .panel-img {
      height: 102px;
      width: 102px;
    }
    .panel-title {
      font-size: 18px;
      text-transform: none;
    }
  }

  @media(max-width: $screen-md - 1px) {
    display: block;
    .panel {
      display: block;
    }
  }
}
/* dark panel layout with multiple rows */
.panel-dark-layout {
  color: white;
  .panel-row {
    @include flex();
    .panel-cell {
      padding: 45px;
      border: 0px solid #979797;
      display: inline-block;
      &:not(:last-child) {
        border-right-width: 1px;
      }
    }
    &:nth-child(odd) {
      .panel-cell {
        border-bottom-width: 1px;
      }
    }
  }
  .marker {
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
  }
  .panel-title {
    font-size: 18px;
    text-transform: none;
    color: $yellow-gold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }

  @media(max-width: $screen-md - 1px) {
    .panel-row {
      display: block;
      margin-left: -30px;
      margin-right: -30px;
      .panel-cell {
        border: none;
        display: block;
        border-bottom: 1px solid #979797;
      }
      &:last-child {
        .panel-cell:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
/* panel testimonial */
.panel-testimonial {
  background-color: #f3f3f3;
  padding: 30px 15px;
  @include box-shadow-o(0 0 8px 2px rgba(0, 0, 0, 0.09));
  text-align: center;
  img {
    max-width: 180px;
    width: 100%;
  }
  blockquote {
    border: 0;
    font-size: 15px !important;
    color: $gray-light;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* blocks: similar to panels but with alternating colors */
.block-dark {
  @include flex();
  .block {
    color: $gray-lighter;
    padding: 60px 60px;
    text-align: center;
    display: inline-block;

    .block-title {
      color: $black;
      font-weight: 900;
      font-size: 30px;
    }

    &:nth-child(odd) {
      background-color: $black;
      .block-title {
        color: $yellow-gold;
      }
    }
    &:nth-child(even) {
      background-color: white;
    }
  }
  @media(max-width: $screen-md - 1px) {
    display: block;
    .block {
      display: block;
    }
  }
}

/* custom scroll bars */
.mCS-dark-3.mCSB_scrollTools {
  .mCSB_dragger {
    .mCSB_dragger_bar  {
      background-color: $yellow-gold !important;
      width: 10px !important;
    }
  }
  .mCSB_draggerRail {
    background-color: #F3ECE0 !important;
    width: 10px !important;
  }
}
.mCSB_container_wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important
}

/* Sub Navigation: Compact */
.sub-navigation.compact {
    padding: 10px 20px;
    color: $gray;
    ul {
        border: 1px solid $generic-border-color;
        border-top-width: 0;
        height: auto;
        max-height: 200px;
        overflow: hidden;
        @include border-radius-trbl(0, 0, 2px, 2px);

        &.ng-hide-add-active,
        &.ng-hide-remove-active {
            @include transitions(max-height .4s ease);
        }
        &.ng-hide {
            max-height: 0;
        }

        li {
            &:hover, &.active {
                background-color: $yellow-gold;
                color: $black;
            }
            a {
                padding: $padding-small-vertical $padding-base-vertical;
                display: block;
            }
        }
    }
}

.post-scriptum {
  width: auto;
  max-width: inherit;
  font-style: italic;
  display: block;
  color: $black;
  margin-top: $padding-large-vertical;
  margin-bottom: $padding-large-vertical;
}

/* grids */
.container-fluid.no-gutter {
  padding-left: 0;
  padding-right: 0;
  > .row, > .row-fluid {
    margin-left: 0;
    margin-right: 0;
    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}
.row.flex {
  @include inline-flex();
  flex-wrap: wrap;
}

/* borders */
.border-db-bottom {
  border-bottom: 1px solid $generic-border-color;
}
.border-solid-top {
  border-top: 1px solid $generic-border-color;
}
.bordered-diamond-bottom {
  position: relative;
  margin-bottom: 50px;
  &::before {
      content: '';
      height: 10px;
      border: 1px solid $generic-border-color;
      border-left: 0;
      border-right: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }
  &::after {
      content: '';
      border: 1px solid $generic-border-color;
      width: 35px;
      height: 35px;
      @include transform(rotate(45deg) translateX(-50%));
      bottom: -25px;
      position: absolute;
      left: 50%;
      background-color: #fafafa;
      @include box-shadow(0, 0, 0, 10px, #fafafa);
  }
}

/* location */
.location {
  padding-right: 32px;
  overflow: hidden;

  > .row {
    margin-left: auto;
    margin-right: auto;
  }

  .content-left-overlay {
    position: absolute;
    width: 187px;
    display: inline-block;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    h3 {
      text-align: left;
      color: $yellow-gold;
      text-transform: none;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    address {
      font-size: 14px;
      color: #BABABA;
      line-height: 21px;
    }
  }

  img {
    height: 100%;
  }

  .row {
    margin-bottom: 30px;
  }
  @media (max-width: 1199px) {
    padding-left: 1em;
  }
}

/* featured core services */
.featured-core-services {
  text-align: left !important;
  padding: 0 40px;
  h2 {
    text-align: left !important;
  }
  p {
    max-width: inherit !important;
  }
  .avatar{
    width: 140px;
    margin-bottom: 15px;
  }
}

/* pitch */
#pitch, .pitch-left-align {
  background-color: transparent;
  width: 100%;
  @extend .full-viewport-height;
  display: block;
  position: relative;
  padding: 0 20px;
  text-align: left;
  color: white;
  &.light {
    color: $black;
  }

  .call-to-action {
    margin: 0 auto;
    display: block;
    position: absolute;
    background-color: transparent;
    text-align: inherit !important;
    top: 50%;
    @include transform(translateY(-50%));

    h1, p {
      color: inherit !important;
    }
    h1 {
      margin-top: 0px !important;
      margin-bottom: $padding-xl-vertical;
      text-align: inherit !important;
      font-size: 45px;
    }
    p {
      opacity: 0.7;
      margin: 0 0 30px !important;
      max-width: 700px !important;
      font-size: 31px;
      line-height: 45px;
    }
    .btn-link {
      margin-left: $padding-base-horizontal;
    }
    @media (max-width: 913px) and (min-width: 801px) {
      h1 {
        margin-bottom: 34px;
      }
    }
    @media (max-width: 800px) and (min-width: 641px) {
      h1 {
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 640px) {
    .call-to-action {
      h1 {
        margin-bottom: .75em;
        font-size: 35px;
      }
    }
  }
  @media (max-width: 540px) {
    .call-to-action {
      padding-left: $padding-small-horizontal;
      padding-right: $padding-small-horizontal;
    }
  }
  @media (max-width: 480px) {
    .call-to-action {
      padding-top: 10em;
      padding-bottom: 15em;
      p {
        font-size: 20px !important;
        line-height: 28px !important;
      }
    }
  }
  @media (max-width: 320px) {
    .call-to-action {
      p {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }
  }
}

.full-viewport-height {
  height: 100vh !important;
  min-height: 800px !important;
  @media(orientation: landscape) {
    height: 100vh !important;
    min-height: 800px !important;
  }
  @media(max-width:640px) and (orientation: portrait) {
    min-height: 720px !important;
  }
  @media(max-width: 320px) and (orientation: portrait) {
    min-height: 640px !important;
  }
  @media(max-width:640px) and (orientation: landscape) {
    min-height: 640px !important;
  }
  @media(max-width: 320px) and (orientation: landscape) {
    min-height: 320px !important;
  }
}