/* toasts */
.ng-toast--right {
  right: 1em;
}
.ng-toast {
  .alert {
    padding-top: .7em;
    padding-bottom: .7em;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    font-size: 1.2em;
  }
  z-index: 10000;
}
.alert-success {
  background-color: #1fcc6a;
  color: #346738;
  border-color: #14ce14;
}
.alert-warning {
  background: #f7a2a2;
  border-color: #e28282;
  color: #a23a3a;
}