/** Get Started Page **/

#get-started,
#finalize-quote {
  top: 0;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0 !important;
  padding-bottom: 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  h1.heading {
    font-weight: normal;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    border-bottom: 3px solid $generic-border-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: $padding-large-vertical;
    margin-bottom: 0;
    &.project-details-header::before,
    &.team-requirements-header::before {
      content: url('../images/getstarted/project details-icon.svg');
      display: inline-block;
      margin-right: $padding-small-horizontal;
      width: 16px;
      height: 16px;
    }
    &.team-requirements-header::before {
      content: url('../images/getstarted/Team requirements-icon.svg');
    }
    &.summary-title::before {
      content: url('../images/getstarted/Estimated cost-icon.svg');
      width: auto;
      height: 20px;
    }
  }
  >.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  aside,
  form,
  .summary-container {
    padding-top: 0;
    position: relative;
    overflow-y: hidden;
    height: 100%;
  }
  aside {
    background: $black url('../images/get-started-bg.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    .sidebar-content {
      width: 100%;
      margin-top: 100px;
      color: white;
      h1 {
        color: $yellow-gold;
      }
      h2 {
        text-transform: none;
        font-size: 16px;
        margin-top: 60px;
      }
      .btn {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        text-transform: none;
        margin-bottom: 20px;
        &::before {
          display: none;
        }
      }
    }
    .social-media-links {
      width: 100%;
      color: $yellow-gold;
      font-size: 24px;
      text-align: center;
      padding: 50px 0;
      li {
        padding: 0;
        border-right: none;
      }
    }
  }
  .scrollable-container {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    @media(max-width: $screen-lg - 1px) {
      overflow-y: auto;
      .main-form,
      .summary {
        overflow-y: initial;
        height: auto;
      }
    }
  }
  form .main-form,
  .summary-container .summary {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: $top-main-nav-height;
    left: 0;
    @media(max-width: $screen-md - 1px) {
      padding-top: $top-nav-height-sm;
    }
  }
  form {
    padding-left: 0;
    padding-right: 0;
    .main-form {
      padding-left: 30px;
      padding-right: 30px;
      background-color: white;
      label {
        margin-top: 0;
        color: $gray-light;
      }
      .emphasized {
        background-color: #FAFAFA;
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
        @include box-shadow(0px,
        14px,
        29px,
        -14px,
        #c3c1c1);
      }
    }
    footer {
      position: absolute;
      bottom: 0;
      padding: 20px 30px;
      width: 100%;
      background: white;
    }
    .submit-btn-container {
      max-width: inherit;
      text-align: center;
      button {
        margin: 1.5em 0;
        width: 95%;
      }
      button:not(:last-child) {
        margin-right: 1em;
      }
    }
    .submit-btn-container.single-button {
      >.row {
        text-align: center;
        position: relative;
        >div {
          float: none;
          display: inline-block;
        }
      }
    }
    #team-requirements {
      margin: 0 0 70px;
    }
  }
  .summary-container {
    padding: 15px;
    text-transform: none;
    border-radius: 0;
    margin-top: 20px;
    .summary {
      background-color: #F2F2F2;
      padding-left: 0;
      padding-right: 0;
      h2 {
        padding-bottom: 20px;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 3px solid black;
      }
      .team-title {
        padding: 10px 0;
        border-bottom: 3px solid #ccc;
        margin-bottom: 0;
        font-size: 12px;
      }
      .promo-code-section {
        border-top: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
        margin-bottom: 15px;
        padding: 10px 0;
        .promo-code {
          @include flex();
          align-items: center;
          .cost {
            max-width: 40%;
          }
        }
        .input-group {
          padding: 5px 0;
          max-width: 60%;
          .form-control {
            border: 0;
            height: 39px;
          }
          .btn {
            padding: $padding-base-vertical $padding-xs-horizontal;
            color: white;
            background-color: $yellow-gold;
            font-weight: bold;
            font-size: 12px;
            border-color: $yellow-gold;
          }
        }
      }
      .btn-yellow,
      .description-sm {
        &:first-of-type {
          margin-top: 30px;
        }
      }
      .btn-yellow {
        width: 100%;
        text-transform: none;
      }
      .description-sm {
        font-size: 18px;
        line-height: 26px;
      }
      .btn-icon {
        width: auto;
        height: auto;
        display: inline-block;
        margin-top: 0;
        padding: 0;
      }
      .notepad-container {
        padding-left: 15px;
        padding-right: 15px;
        @include reset-list();
      }
      .or-container {
        .or-hr {
          top: 18px;
        }
        #or {
          background-color: #F2F2F2;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .button-group {
    position: relative;
    display: table;
    padding: 15px;
    width: 100%;
    height: 51px;
    .btn,
    .btn-help {
      display: table-cell;
      vertical-align: middle;
    }
    .btn {
      @include calc(width,
      '100% - 67px');
      height: 100%;
      min-width: inherit;
      font-weight: bold;
      text-transform: none;
      @include border-radius(0);
    }
    .btn-help {
      width: 52px;
      height: 100%;
      background-color: $black;
      color: $yellow-gold;
      font-size: 18px;
      font-weight: bold;
      font-family: Helvetica;
      border-left: 2px solid #fff;
    }
  }
  /* mobile styles */
  .mobile-container,
  .mobile-summary {
    height: 100%;
  }
  .mobile-container {
    &.switch-view-layout {
      overflow: hidden;
      position: relative;
      .switch-view-initial,
      .switch-view-secondary {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: absolute;
        @include transitions(all $trans-duration ease);
      }
      .switch-view-initial {
        &.ng-enter {
          right: 100%;
        }
        &.ng-leave.ng-leave-active {
          right: 200%;
        }
        &.ng-enter.ng-enter-active,
        &.ng-leave {
          right: 0;
        }
      }
      .switch-view-secondary {
        &.ng-enter {
          left: 100%;
        }
        &.ng-leave.ng-leave-active {
          left: 200%;
        }
        &.ng-enter.ng-enter-active,
        &.ng-leave {
          left: 0;
        }
      }
    }
    form,
    .summary-container {
      width: 100%;
    }
  }
  .mobile-summary {
    padding-top: $top-main-nav-height;
    .summary-container {
      margin-top: 0;
      padding-top: 0;
      .summary {
        padding-top: 0;
        .btn-yellow {
          position: relative;
          margin-bottom: 0;
        }
      }
    }
  }
  @media(max-width: $screen-sm-max) {
    overflow-y: auto;
    aside,
    form,
    .summary-container {
      height: auto;
    }
    aside {
      footer {
        position: relative;
      }
    }
    h1.heading {
      font-size: 28px;
    }
    .scrollable-container {
      height: 100%;
      overflow-y: initial;
      form {
        .main-form {
          position: relative;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 15px;
        }
        #team-requirements {
          margin: 0;
        }
      }
      .summary-container {
        .summary {
          position: relative;
          padding-top: 40px;
        }
      }
    }
  }
  @media(min-width: $screen-md) {
    .mobile-summary {
      padding-top: $top-nav-height;
    }
  }
}

#get-started {
  background-color: white;
}

#request-quote,
#schedule-call,
#complete-profile {
  margin-top: $margin-base-horizontal;
  margin-bottom: $margin-base-horizontal;
  h3 {
    text-transform: none;
    font-size: 1.1em;
  }
  >form {
    @extend .section-box-shadowed;
    margin-top: 3em;
    background-color: #ffffff;
  }
}

#schedule-call {
  .external-datetimepicker-toggle {
    top: 0 !important;
  }
  .caret {
    top: 30px !important;
  }
  .uib-timepicker {
    margin-top: -20px;
  }
  @media(max-width: 1199px) {
    .uib-timepicker {
      margin-top: 10px;
    }
  }
}

.flex-direction-nav a {
  z-index: auto !important;
}

.summary .cost {
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.no-gutter{
  [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
}

.sm-gutter{
  [class*='col-'] {
    padding-right:7px;
    padding-left:7px;
  }
}

#get-started-v2 {
  background-image: url(../images/getstarted/get-started-2-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  section.slide-form {
    height: 65vh;
  }
  section.company-images {
    height: 35vh;
  }
  .slides {
    overflow: hidden;
  }
  .slide {
    padding: 8% 0;
    display: none;
    &.active {
      display: block;
    }
    .row {
      margin: 0;
    }
    .row-getstarted{
      max-width: 355px;
      .icon{
        min-width: 55px;
      }
      input[type="button"]{
        width: 156px;
        color: #b0b0b0;
        text-align: left;
      }
    }
    .btn-yellow {
      color: #fff;
      min-width: 100%;
      height: 40px;
      // margin-top: 40px;
    }
    .input-error {
      color: red;
    }
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      color: rgb(19, 19, 19);
      text-transform: inherit;
      text-align: center;
    }
    &.remote-resource {
      .options {
        display: flex;
        justify-content: center;
      }
      .option {
        text-align: center;
        background-color: #fff;
        max-width: 200px;
        min-height: 200px;
        box-shadow: 2px 2px 5px #ccc;
        margin: 0 15px;
        color: #ffbb40;
        flex-grow: 1;
        &:hover {
          color: burlywood;
        }
        .fa {
          margin: 30px 0 10px;
          font-size: 75px;
        }
        .option-value {
          text-transform: uppercase;
          font-size: 25px;
        }
      }
    }
    &.skills {
      .options {
        margin-bottom: 15px;
        .option {
          display: flex;
          .option-value {
            font-weight: 400;
          }
          input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }
    }
    &.contact {
      .form .row {
        margin: 0 auto;
        margin-bottom: 15px;
        display: flex;
        width: fit-content;
      }
      .icon {
        width: 55px;
        height: 40px;
        background: white;
        text-align: center;
        margin: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &.name {
          img {
            width: 45%;
            margin-top: 8px;
          }
        }
        &.email {
          img {
            margin-top: 14px;
          }
        }
        &.phone {
          img {
            margin-top: 11px;
          }
        }
        &.skype {
          img {
            margin-top: 6px;
          }
        }
        &.file, &.company {
          img {
            margin-top: 8px;
          }
        }
      }
      input {
        height: 40px;
        width: 270px;
        border: 1px solid #fbfbfb;
        border-left: 1px solid #b0b0b0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-left: 10px;
        margin-bottom: 0;
        background: #fff;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #b0b0b0;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #b0b0b0;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #b0b0b0;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #b0b0b0;
        }
      }
      input[type="tel"] {
        padding-left: 50px;
      }
    }
    &.project-details {
      textarea {
        border: 1px solid #fbfbfb;
        width: 100%;
        height: 135px;
        max-width: 550px;
        margin: 0 auto;
      }
      .row {
        margin-bottom: 15px;
      }
    }
    &.complete {
      background: #fff;
      border-radius: 3px;
      margin-top: 40px;
      h3 {
        text-transform: inherit;
      }
    }
  }
  .company-logos {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    >div {
      max-width: 300px;
      flex-grow: 1;
      align-items: center;
      margin-right: 2%;
      text-align: center;
      &#loanmarket {
        img {
          height: 55px;
        }
      }
      &#nzfs {
        img {
          height: 56px;
        }
      }
      &#mortgage-direct {
        padding-top: 10px;
        img {
          height: 30px;
        }
      }
    }
  }
  .box-shadowed {
    box-shadow: 2px 2px 5px #ccc;
  }
  .text-centered {
    text-align: center;
  }
  .slide-out-left {
    transition: 1s all;
    transform: translateX(-10000px);
    display: none;
    animation: slideOut 1s 1;
  }
  .slide-in-left {
    transition: 1s all;
    transform: translateX(0px);
    animation: slideIn 1s 1;
    display: block;
  }
  @keyframes slideIn {
    from {
      transform: translateX(110%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10000px);
    }
  }
}

.iti-flag {
  background-image: url("../flags/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("../flags/flags@2x.png");
  }
}