$background-color: #f5f5f5;
$text-color: #333333;
#light {
    .top-nav nav,
    .top-nav-fixed {
        background: #fff;
        // box-shadow: 0px 0px 3px #333;
        .logo-text {
            color: $text-color !important;
        }
    }
    .top-nav {
        width: 100%;
        background:#fff;
        nav{
            width: 75%;
            background: #fff;
            margin: 0 auto;
        }
    }
    #home {
        .home-bg,
        #three-ps {
            background-image: none;
            background-color: #fff;
        }
        #trusted-by,
        #testimonials {
            background-color: #f2f2f2;
        }
    }
    header#pitch {
        background: #fff;
        max-width: initial;
        .call-to-action {
            color: #272a26;
            text-align: center !important;
            .text-thin {
                margin-bottom: 0px;
            }
            .text-thin,
            .text-emphasize {
                font-weight: 600;
            }
            p {
                color: #000 !important;
                font-weight: 300;
                font-size: 27px;
                text-align: center;
                width: 100% !important;
                max-width: initial !important;
            }
        }
        #featured-talents-slider {
            .label-yellow {
                font-size: 12px;
            }
            .carousel-with-controls .carousel-control {
                background: none;
                &::after {
                    color: #FF6F00;
                }
            }
        }
        .call-to-action,
        .featured-talents-container {
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
        }
        @media (max-width: $screen-md) {
            width: inherit;
            padding-left: 0;
            padding-right: 0;
            .call-to-action {
                padding-left: 0;
                padding-right: 0;
                width: auto;
            }
            .featured-talents-container {
                width: 100%;
            }
        }
    }
    .footer {
        color: $text-color;
        background: #191919;
        letter-spacing: 0;
        nav a {
            color: #fff;
            letter-spacing: 0;
            font-weight: bold;
        }
        nav a i{
            color: #FFBB41;
        }
        #other-contacts {
            address {
                letter-spacing: 0;
                .address-name{
                    color: #fff;
                    font-weight: 750    ;
                }
                .address-others{
                    font-weight: 550;
                    color: #fff;
                    margin-top: 10px;
                }
            }
        }
        .logo-footer {
            .logo {
                margin: 0 auto;
            }
        }
        .subscription p {
            color: #555;
        }
        .info {
            border-color: #909090;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 3%;
        }
    }
    .pitch-container {
        position: relative;
        height: 500px;
        top: 13%;
        .call-to-action {
            top: 0% !important;
        }
        .featured-talents-container {
            bottom: 0% !important;
        }
        @media (max-width: $screen-xs) {
            top: 13%;
            height: 520px;
            .call-to-action {
                padding-top: 0% !important;
            }
        }
        @media (min-width: $screen-xs + 1) and (max-width: $screen-sm) {
            top: 15%;
            height: 520px;
            .call-to-action {
                padding-top: 0% !important;
            }
        }
        @media (min-width: $screen-sm +1) and (max-width: $screen-lg) {
            top: 28%;
            height: 475px;
            .call-to-action {
                padding-top: 0% !important;
            }
        }
        @media (min-width: $screen-lg) and (max-width: $screen-xlg) {
            top: 18%;
            height: 455px;
            .call-to-action {
                padding-top: 0% !important;
            }
        }
        @media (min-width: $screen-xlg) {
            top: 28%;
            height: 480px;
            .call-to-action {
                padding-top: 0% !important;
            }
        }
    }
}