#login {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  padding-top: 65px !important;

  .modal-close-btn {
    position: absolute;
    right: 10px;
    z-index: 1;
  }

  .cover-section {
    height: 100%;
    background: url(../images/login/bg.jpg) no-repeat center left;
    background-size: cover;
    display: table;
    max-width: calc(100% - 500px);
    width: 100%;
    position: fixed;
  }
  .cover {
    display: table-cell;
    vertical-align: middle;
    .cover-img {
      height: 120px;
    }
    .cover-title {
      font-size: 50px;
      font-weight: 900;
      color: white;
      text-transform: none;
    }
    p {
      max-width: 333px;
      color: white;
    }
  }

  .form-section {
    padding: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    right: 0;

    .mCSB_container {
      padding: 60px 50px;
    }
    .form-title {
      font-size: 35px;
      text-align: center;
      text-transform: none;
    }

    form {
      margin-top: 80px;

      .login-options {
        #remember-me {
          color: gray;
          font-weight: bold;
          margin-top: 0;
          .cr {
            width: 15px;
            height: 15px;
          }
        }

        .forgot-password-link {
          margin-top: 10px;
        }
      }


      input[type=text], input[type=email], input[type=password] {
        border-width: 0 0 1px 0;
        padding-left: 0;
        padding-right: 0;
        &:focus {
          @include disable-box-shadow();
          border-width: 0 0 2px 0 !important;
        }
      }
    }
  }

  #login-with-fb, #login-with-gplus, .submit {
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 20px 15px;
    line-height: 20px;
  }
  #login-with-fb, #login-with-gplus {
    text-transform: none;
    text-align: left;
    min-width: initial;
  }
  .fa-facebook, .fa-google-plus {
    font-size: 20px !important;
    vertical-align: middle;
  }
  .submit {
    font-size: 16px;
  }
  .or-container {
    .or-hr {
      display: none;
    }
  }

  .external-auth-provider.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    > div {
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        padding-right: 7px;
      }
      &:last-child {
        padding-left: 8px;
      }
    }
    @media(max-width: $screen-md - 1px) {
      > div {
        margin-bottom: 20px;
         &:first-child {
          padding-right: 0px;
        }
        &:last-child {
          padding-left: 0px;
        }
      }
    }
  }

  .section-footer {
    color: $gray-lighter;
    margin-top: 50px;
  }

  @media(min-width: $screen-md) {
    .cover {
      padding-left: 100px;
    }
    .form-section {
      max-width: 500px;
    }
  }
  @media(min-width: $screen-lg) {
    .cover {
      padding-left: 130px;
    }
  }

}