#media-lib {
  min-height: 100%;
  position: relative;
  .actions {
    border-radius: 3px;
    margin-bottom: 15px;
    .input-field-compact {
      border-color: $generic-border-color;
    }
  }
  .media-library-list {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top: 3px solid $generic-border-color;
  }
  .nanobar {
    margin-bottom: -3px;
    display: block;
  }
}
.media-library-list {
  .media-item {
    display: inline-block;
    margin: 0 5px 15px 5px;
    width: 200px;
    height: 200px;
    position: relative;
    vertical-align: top;
    > div {
      @include transitions(all .6s fade);
      width: 100%;
      height: 100%;
    }
    .thumbnail {
      position: relative;
      margin-bottom: 0;
      width: 100%;
      height: 100%;
    }
    .media-item-actions, .name {
      height: 0;
      visibility: hidden;
      padding: 4px;
    }
    .media-item-actions {

      .action-danger {
        color: $state-danger-text;
      }
    }

    .thumbnail:hover {
      border-color: $yellow-gold;
    }
    &.active {
      z-index: 1;
      > div {
        border: 1px solid lightgray;
        border-radius: 3px;
        height: auto;
        position: absolute;
        background-color: #fff;
        @include box-shadow-o(0px 1px 1px 1px rgba(204, 204, 204, 0.42));
      }
      .thumbnail {
        border: none;
        height: 200px;
      }
      .media-item-actions, .name {
        height: auto;
        visibility: visible;
        word-break: break-all;
        font-size: 14px;
      }
    }

    .warning {
      .fa {
        font-size: 32px;
      }
    }
  }
}
.empty-list-placeholder {
  width: 100%;
  height: 100%;
  > div {
  @extend .center-in-parent;
    width: 100%;
    text-align: center;
    font-size: 26px;
    line-height: 1.25em;
    font-weight: 400;
    color: $gray-light;
    .btn {
      margin-top: 30px;
    }
  }
}