<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.html">
       <system.webServer>
	<modules runAllManagedModulesForAllRequests="false">
	    <remove name="WebDAVModule" />
	  </modules>	
          <httpProtocol>
             <customHeaders>
               <add name="Cache-Control" value="no-cache" />
             </customHeaders>
          </httpProtocol>
       </system.webServer>
    </location>
    <system.webServer>
	<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip" />
            <staticTypes>
                <add enabled="true" mimeType="text/*" />
                <add enabled="true" mimeType="message/*" />
                <add enabled="true" mimeType="application/javascript" />
                <add enabled="true" mimeType="application/json" />
		<add enabled="true" mimeType="image/svg+xml" />
            </staticTypes>
	    <dynamicTypes>
                <add enabled="true" mimeType="text/*" />
                <add enabled="true" mimeType="message/*" />
                <add enabled="true" mimeType="application/javascript" />
                <add enabled="true" mimeType="application/json" />
		<add enabled="true" mimeType="image/svg+xml" />
            </dynamicTypes>
        </httpCompression>
        <directoryBrowse enabled="true" />
	<urlCompression doDynamicCompression="true" doStaticCompression="true" />	
	<staticContent>
	    <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" />
            <!-- use utf-8 encoding for anything served text/plain or text/html -->            
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <remove fileExtension=".ttc" />
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".crx" />
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
            <remove fileExtension=".f4v" />
            <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
            <!-- Assorted types -->
            <remove fileExtension=".ico" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <remove fileExtension=".htc" />
            <mimeMap fileExtension=".htc" mimeType="text/x-component" />
            <remove fileExtension=".vcf" />
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
            <remove fileExtension=".torrent" />
            <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
            <remove fileExtension=".cur" />
            <mimeMap fileExtension=".cur" mimeType="image/x-icon" />
            <remove fileExtension=".webapp" />
            <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json; charset=UTF-8" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="PromoPageCrawlers" stopProcessing="false">
                    <match url="^(promo)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot|Pinterest|Google.*snippet|LinkedInBot|Slackbot-LinkExpanding)" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?page={R:1}" redirectType="Temporary" />
                </rule>
                <rule name="ReferPageCrawlers" stopProcessing="false">
                    <match url="^(refer)(/?|\?.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot|Pinterest|Google.*snippet|LinkedInBot|Slackbot-LinkExpanding)" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?page={R:1}" redirectType="Temporary" />
                </rule>
                <rule name="LandingPageCrawlers" stopProcessing="false">
                    <match url="^(au|us)/(aspnet|angularjs)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot|Pinterest|Google.*snippet|LinkedInBot|Slackbot-LinkExpanding)" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?page={R:1}&amp;tc={R:2}" redirectType="Temporary" />
                </rule>
                <rule name="ShortLinkCrawlers" stopProcessing="false">
                    <match url="^(tp)/(.+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^(api)" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot|Pinterest|Google.*snippet|LinkedInBot|Slackbot-LinkExpanding)" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?page={R:1}&amp;shortLinkCode={R:2}" redirectType="Temporary" />
                </rule>
                <rule name="ShortLinkRedirect" stopProcessing="false">
                    <match url="^(tp)/(.+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^(api)" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?page={R:1}&amp;shortLinkCode={R:2}&amp;redirectToActualPage=true" redirectType="Temporary" />
                </rule>
                <rule name="BlogPostCrawlers" stopProcessing="false">
                    <match url="^post/(.+)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot|Pinterest|Google.*snippet|LinkedInBot|Slackbot-LinkExpanding)" />
                    </conditions>
                    <action type="Redirect" url="/node/seo/index.js?postid={R:1}" redirectType="Temporary" />
                </rule>
		<rule name="Redirect to HTTPS v2.0" enabled="true" stopProcessing="false">
			<match url="(.*)" />
			<conditions><add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
		</rule>
		<rule name="RedirectToNon-WWW">
			<match url="(.*)" />
			<conditions>
				<add input="{HTTP_HOST}" pattern="^devpartners\.co$" negate="true" />
			</conditions>
			<action type="Redirect" url="https://devpartners.co/{R:1}" />
		</rule>
                <rule name="RewriteRules" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
	    <outboundRules>
                <rule name="Remove ETag">
                <match serverVariable="RESPONSE_ETag" pattern=".+" />
                <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
