<div class="modal-header">
  <button type="button" class="modal-close-btn" ng-click="cancel()"></button>
</div>
<div class="modal-body" id="modal-body" data-ng-init="init()">
  <img src="assets/images/getstarted/Graphics-modal.svg" class="modal-cover-img" />
  <form name="addRoleForm" ng-submit="addRole(addRoleForm.$valid)" novalidate>
    <div class="input-typeahead">
      <input type="text" id="role-title" name="roleTitle" typeahead-editable="true" uib-typeahead="role.name as role.name for role in roles | filter:$viewValue" typeahead-min-length="0" typeahead-no-results="noResults" typehead-is-open="isRolesDropdownOpen" class="text-capitalize" ng-model="newRole.name" required typeahead-append-to="'.input-typeahead'" placeholder="Please enter a role">
    </div>
    <div ng-messages="addRoleForm.roleTitle.$error" ng-if="addRoleForm.$submitted || addRoleForm.roleTitle.$dirty" class="ng-message">
      <div ng-messages-include="core/generic/error-messages.html"></div>
    </div>

    <select name="roleType" class="selectpicker custom-dropdown-menu" ng-model="newRole.contractTypeId" required ng-options="contractType.id as contractType.name for contractType in contractTypes" data-container=".modal-content">
      <option value="" selected="selected">Please select a contract type</option>
    </select>
    <div ng-messages="addRoleForm.roleType.$error" ng-if="addRoleForm.$submitted || addRoleForm.roleType.$dirty" class="ng-message">
      <div ng-messages-include="core/generic/error-messages.html"></div>
    </div>

    <div>
      <button class="btn btn-yellow submit" type="submit">ADD</button>
    </div>
  </form>
</div>